<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<title>Clone thẻ siêu rẻ</title>
	<meta name="description" content="Clone thẻ siêu rẻ">
	<meta name="author" content="">

	<meta property="og:title" content="Clone thẻ siêu rẻ">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:description" content="Checkscam - Trang chủ">
	<meta property="og:image" content="">

	<link rel="icon" href="/assets/images/favicon.png">
	<link rel="apple-touch-icon" href="/assets/images/favicon.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
		  rel="stylesheet">
	<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/plugins/swiper/swiper.min.css">
	<link rel="stylesheet" href="../assets/fonts/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="../assets/css/style.css">

	<style>
        :root {
            --primary-color: #013290;
            --primary-hover: #0c2a6b;
            --primary-rgb: 1, 36, 103;
        }
	</style>
</head>

<body>
<header id="header-m1" class="header-m1">
	<div class="container d-flex align-items-center flex-lg-wrap">
		<div class="header-hamburger" id="call-navigation">
			<span></span>
		</div>
		<a class="header-logo" href="https://thesieure.com">
			<img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png" height="40px"
				 class="img-fluid" alt="">
		</a>
		<div class="header-navigation">
			<ul class="list-unstyled mb-0">
				<li class="d-lg-none d-inline-block navigation-logo text-center">
					<a href="https://thesieure.com">
						<img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png" height="40px"
							 class="img-fluid" alt="">
					</a>
				</li>
				<li class="d-inline-block">
					<a href="../template/index.html">
						Trang chủ
					</a>
				</li>
				<li class="d-inline-block">
					<a href="javascript:void(0)">
						Modules
						<i class="fas fa-caret-down"></i>
					</a>
					<ul class="list-unstyled mb-0">
						<li class="d-block">
							<a href="../forms.html">Forms</a>
						</li>
						<li class="d-block">
							<a href="../tables.html">Tables</a>
						</li>
						<li class="d-block">
							<a href="../tabs.html">Tabs</a>
						</li>
						<li class="d-block">
							<a href="../modals-buttons.html">Modals & Buttons</a>
						</li>
						<li class="d-block">
							<a href="../cards.html">Cards</a>
						</li>
						<li class="d-block">
							<a href="../articles.html">Articles</a>
						</li>
						<li class="d-block">
							<a href="../headers.html">Header</a>
						</li>
						<li class="d-block">
							<a href="../label.html">Lables</a>
						</li>
					</ul>
					<span class="sub-icon">+</span>
				</li>
				<li class="d-inline-block">
					<a href="https://thesieure.com/deposit-sms">
						Tin tức
						<i class="fas fa-caret-down"></i>
					</a>
					<ul class="list-unstyled mb-0">
						<li class="d-block">
							<a href="../template/danh-muc-tin-tuc.html">Danh mục</a>
						</li>
						<li class="d-block">
							<a href="../template/chi-tiet-tin-tuc.html">Chi tiết</a>
						</li>
					</ul>
					<span class="sub-icon">+</span>
				</li>
				<li class="d-inline-block">
					<a href="https://thesieure.com/deposit-sms">
						Thẻ cào
						<i class="fas fa-caret-down"></i>
					</a>
					<ul class="list-unstyled mb-0">
						<li class="d-block">
							<a href="../template/danh-muc-the-cao.html">Danh mục</a>
						</li>
						<li class="d-block">
							<a href="../template/mua-ma-the-style1.html">Chi tiết</a>
						</li>
					</ul>
					<span class="sub-icon">+</span>
				</li>
			</ul>
		</div>
		<div class="header-user">
			<div class="header-nologin">
				<a href="../template/dang-ky.html" class="btn btn-small btn-register">
					<i class="fas fa-user"></i> Đăng ký
				</a>
				<a href="../template/dang-nhap.html" class="btn btn-small btn-login">
					<i class="fas fa-lock"></i> Đăng nhập
				</a>
			</div>
			<!--
			<div class="header-login">
				<ul class="list-unstyled mb-0">
					<li class="d-inline-block">
						<i class="far fa-money-bill-alt" aria-hidden="true"></i> 0đ
					</li>
					<li class="d-inline-block">
						<a href="https://thesieure.com/account/profile">
							<i class="fa fa-user" aria-hidden="true"></i>
							Tấn
						</a>
						<ul class="list-unstyled mb-0">
							<li class="d-block">
								<a href="../template/dang-ky.html">
									<i class="fa fa-angle-right"></i> <strong>Đăng ký</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="../template/dang-nhap.html">
									<i class="fa fa-angle-right"></i> <strong>Đăng nhập</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="https://thesieure.com/account/profile">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="https://thesieure.com/account/profile">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="https://thesieure.com/account/profile">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="https://thesieure.com/account/profile">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="https://thesieure.com/account/profile">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			-->
		</div>
		<div class="header-usermb">
			<button type="button" class="btn" id="call-userMB">
				<i class="fas fa-user"></i>
				Tài khoản
			</button>
			<div class="header-usermb_list">
				<ul class="list-unstyled mb-0">
					<li class="d-inline-block text-center header-usermb_list__logo">
						<a href="https://thesieure.com">
							<img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png"
								 height="40px"
								 class="img-fluid" alt="">
						</a>
					</li>
					<li class="d-inline-block header-usermb_list__title">
						Số dư: 400,000 VNĐ
					</li>
					<li class="d-inline-block">
						<a href="https://thesieure.com/account/profile">
							<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
						</a>
					</li>
					<li class="d-inline-block">
						<a href="https://thesieure.com/account/profile">
							<i class="fa fa-angle-right"></i> <strong>Nạp thẻ</strong>
						</a>
					</li>
					<li class="d-inline-block">
						<a href="https://thesieure.com/account/profile">
							<i class="fa fa-angle-right"></i> <strong>Đăng ký tài khoản</strong>
						</a>
					</li>
					<li class="d-inline-block">
						<a href="https://thesieure.com/account/profile">
							<i class="fa fa-angle-right"></i> <strong>Đăng nhập</strong>
						</a>
					</li>
					<li class="d-inline-block">
						<a href="https://thesieure.com/account/profile">
							<i class="fa fa-angle-right"></i> <strong>Quên mật khẩu</strong>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header-overlay" id="header-overlay"></div>
</header>

<div class="main">
	<div class="section-breadcrumb">
		<div class="container">
			<ol class="breadcrumb bg-transparent rounded-0 mb-0 p-0">
				<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
				<li class="breadcrumb-item"><a href="#">Danh mục tin tức</a></li>
				<li class="breadcrumb-item"><a href="#">Chi tiết tin tức</a></li>
			</ol>
		</div>
	</div>
	<div class="section-gap">
		<div class="container">
			<div class="row justify-content-center page-article_detail">
				<div class="col-12">
					<div class="article-inner_title">
						<h1>Thông báo bán thẻ phần mềm diệt virus Kaspersky</h1>
					</div>
				</div>
				<div class="col-md-8">
					<div class="article-inner_desc">
						<p>Kính gửi quý khách hàng, chúng tôi trân trọng thông báo bán thẻ kích hoạt phần mềm diệt virus
							nối tiếng Kaspersky Internet Security. Có nhiều loại bản quyền dành cho 1 máy đến 5 máy. Giá
							bán đc niêm yết trên website.
						</p>
						<p>Kính gửi quý khách hàng, chúng tôi trân trọng thông báo bán thẻ kích hoạt phần mềm diệt virus
							nối tiếng Kaspersky Internet Security. Có nhiều loại bản quyền dành cho 1 máy đến 5 máy. Giá
							bán đc niêm yết trên website.
						</p>
						<img src="https://gachthe1s.com/storage/userfiles/images/%E1%BA%A2nh%20B%C3%ACa%20LQ%20Gachthe1s_com.jpg"
							 alt="">
						<p>Kính gửi quý khách hàng, chúng tôi trân trọng thông báo bán thẻ kích hoạt phần mềm diệt virus
							nối tiếng Kaspersky Internet Security. Có nhiều loại bản quyền dành cho 1 máy đến 5 máy. Giá
							bán đc niêm yết trên website.
						</p>
						<p>Kính gửi quý khách hàng, chúng tôi trân trọng thông báo bán thẻ kích hoạt phần mềm diệt virus
							nối tiếng Kaspersky Internet Security. Có nhiều loại bản quyền dành cho 1 máy đến 5 máy. Giá
							bán đc niêm yết trên website.
						</p>
						<p>Kính gửi quý khách hàng, chúng tôi trân trọng thông báo bán thẻ kích hoạt phần mềm diệt virus
							nối tiếng Kaspersky Internet Security. Có nhiều loại bản quyền dành cho 1 máy đến 5 máy. Giá
							bán đc niêm yết trên website.
						</p>
						<p>Kính gửi quý khách hàng, chúng tôi trân trọng thông báo bán thẻ kích hoạt phần mềm diệt virus
							nối tiếng Kaspersky Internet Security. Có nhiều loại bản quyền dành cho 1 máy đến 5 máy. Giá
							bán đc niêm yết trên website.
						</p>
					</div>
					<div class="article-inner_meta">
						<div class="row row-cols-1 row-cols-sm-2">
							<div class="col">
								<div class="meta-post">
									Ngày đăng: 25-07-2022
								</div>
							</div>
							<div class="col">
								<ul class="list-unstyled mb-0">
									<li>
										Đã xem: 2
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="section-sidebar">
						<div class="section-sidebar_title">
							Xem thêm
						</div>
						<div class="section-sidebar_list">

							<div class="section-sidebar_list__item">
								<div class="item-thumb">
									<a href="https://doithegiare.vn/news/thong-bao-kenh-thanh-toan-ho-tien-dien.html">
										<img src="https://doithegiare.vn/storage/userfiles/images/news/evn-dien.jpg"
											 alt="">
									</a>
								</div>
								<div class="item-content">
									<div class="item-content_title">
										<a href="https://doithegiare.vn/news/thong-bao-kenh-thanh-toan-ho-tien-dien.html">Thông
											báo kênh thanh toán hộ tiền điện</a>
									</div>
									<div class="item-content_meta">
										25-07-2022
									</div>
								</div>
							</div>
							<div class="section-sidebar_list__item">
								<div class="item-thumb">
									<a href="https://doithegiare.vn/news/thong-bao-mo-kenh-nap-tien-dien-thoai.html">
										<img src="https://doithegiare.vn/storage/userfiles/images/news/cach-chuyen-tien-timo.png"
											 alt="">
									</a>
								</div>
								<div class="item-content">
									<div class="item-content_title">
										<a href="https://doithegiare.vn/news/thong-bao-mo-kenh-nap-tien-dien-thoai.html">Thông
											báo mở kênh nạp tiền điện thoại</a>
									</div>
									<div class="item-content_meta">
										25-07-2022
									</div>
								</div>
							</div>
							<div class="section-sidebar_list__item">
								<div class="item-thumb">
									<a href="https://doithegiare.vn/news/thong-bao-phan-phoi-the-gosu-tren-he-thong.html">
										<img src="https://doithegiare.vn/storage/userfiles/images/news/thegosu.jpg"
											 alt="">
									</a>
								</div>
								<div class="item-content">
									<div class="item-content_title">
										<a href="https://doithegiare.vn/news/thong-bao-phan-phoi-the-gosu-tren-he-thong.html">Thông
											báo phân phối thẻ Gosu trên hệ thống</a>
									</div>
									<div class="item-content_meta">
										14-03-2022
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<footer id="footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 my-4">
				<div class="footer-item">
					<div class="font-weight-bold footer-item_name">
						CTY TNHH THANH TOÁN TRỰC TUYẾN GT1S
					</div>
					<div class="footer-item_text">
						Chuyên mua bán thẻ cào giá rẻ, thanh toán K+, tiền điện, nước Nạp Tuop Carot, nhận tăng sub,
						like facebook, GDTG, đổi tiền
					</div>
				</div>
			</div>
			<div class="col-md-3 col-6 my-4">
				<div class="footer-item">
					<div class="footer-item_title">
						Dịch vụ của CEO
					</div>
					<div class="footer-item_list">
						<ul class="list-unstyled mb-0">
							<li>
								<a href="https://gachthe1s.com/">Web gạch card: Gachthe1s.com</a>
							</li>
							<li>
								<a href="https://admingt1s.vn/">Admingt1s.vn</a>
							</li>
							<li>
								<a href="https://subgt1s.com/">Web sub: Subgt1s.com</a>
							</li>
							<li>
								<a href="https://nickgt1s.com/">Web bán nick: Nickgt1s.com</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-6 my-4">
				<div class="footer-item">
					<div class="footer-item_title">
						Liên hệ
					</div>
					<div class="footer-item_list">
						<ul class="list-unstyled mb-0">
							<li>
								<a href="#">Thời gian làm việc: 08h-23h</a>
							</li>
							<li>
								<a href="https://www.facebook.com/vanluctrunggianuytin">Facebook chính: Nguyễn Văn
									Lực</a>
							</li>
							<li>
								<a href="https://www.facebook.com/vanluctrumgdtg/">Facebook phụ: Văn Lực</a>
							</li>
							<li>
								<a href="https://www.facebook.com/CSKHGachthe1s">Fanpage: Gachthe1s.com</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 my-4">
				<div class="footer-item">
					<div class="footer-item_title">
						Liên hệ
					</div>
					<div class="footer-item_info">
						<p>
							<i class="fas fa-phone-alt"></i>
							0842.271.271

						</p>
						<p>
							<i class="fas fa-envelope"></i>
							hotro.gachthe1s@gmail.com
						</p>

						<p class="mt-3 d-flex align-items-center justify-content-start footer-item_info__social">
							<a href="https://www.facebook.com/van.luc.52687506/">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="">
								<i class="fab fa-youtube"></i>
							</a>
							<a href="">
								<i class="fab fa-twitter"></i>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row row-5 align-items-center">
				<div class="col-6">
					<a href="#" class="footer-bottom_copyright">© Software by Văn Lực.,</a>
				</div>
				<div class="col-6">
					<div class="footer-dropdown d-flex align-items-center justify-content-end">
						<div class="dropdown dropdown-wrap ml-2">
							<button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownLanguage"
									data-toggle="dropdown" aria-expanded="false">
								<i class="fas fa-globe"></i>
								<span>Tiếng Việt</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
								<a class="dropdown-item " href="https://gachthe1s.com/change-lang?code=us">English</a>
								<a class="dropdown-item active " href="https://gachthe1s.com/change-lang?code=vi">Tiếng
									Việt</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script type=" text/javascript" src="../assets/plugins/jquery.min.js"></script>
<script type="text/javascript"
		src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"
		src="../assets/plugins/swiper/swiper.min.js"></script>
<script type="text/javascript" src="../assets/js/app.js"></script>
</body>
</html>