<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Clone thẻ siêu rẻ</title>
    <meta name="description" content="Clone thẻ siêu rẻ">
    <meta name="author" content="">

    <meta property="og:title" content="Clone thẻ siêu rẻ">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="Checkscam - Trang chủ">
    <meta property="og:image" content="">

    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="apple-touch-icon" href="/assets/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/plugins/swiper/swiper.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <style>
        :root {
            --primary-color: #013290;
            --primary-hover: #0c2a6b;
            --primary-rgb: 1, 36, 103;
        }
    </style>
</head>

<body>
<header id="header-m1" class="header-m1">
    <div class="container d-flex align-items-center flex-lg-wrap">
        <div class="header-hamburger" id="call-navigation">
            <span></span>
        </div>
        <a class="header-logo" href="https://thesieure.com">
            <img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png" height="40px"
                 class="img-fluid" alt="">
        </a>
        <div class="header-navigation">
            <ul class="list-unstyled mb-0">
                <li class="d-lg-none d-inline-block navigation-logo text-center">
                    <a href="https://thesieure.com">
                        <img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png" height="40px"
                             class="img-fluid" alt="">
                    </a>
                </li>
                <li class="d-inline-block">
                    <a href="../template/index.html">
                        Trang chủ
                    </a>
                </li>
                <li class="d-inline-block hasSub">
                    <a href="javascript:void(0)">
                        Modules
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <ul class="list-unstyled mb-0">
                        <li class="d-block">
                            <a href="../forms.html">Forms</a>
                        </li>
                        <li class="d-block">
                            <a href="../tables.html">Tables</a>
                        </li>
                        <li class="d-block">
                            <a href="../tabs.html">Tabs</a>
                        </li>
                        <li class="d-block">
                            <a href="../modals-buttons.html">Modals & Buttons</a>
                        </li>
                        <li class="d-block">
                            <a href="../cards.html">Cards</a>
                        </li>
                        <li class="d-block">
                            <a href="../articles.html">Articles</a>
                        </li>
                        <li class="d-block">
                            <a href="../headers.html">Header</a>
                        </li>
                        <li class="d-block">
                            <a href="../label.html">Lables</a>
                        </li>
                        <li class="d-block">
                            <a href="../alerts-heading.html">Alerts & Heading</a>
                        </li>
                    </ul>
                    <span class="sub-icon">+</span>
                </li>
                <li class="d-inline-block hasSub">
                    <a href="javascript:void(0)">
                        Tin tức
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <ul class="list-unstyled mb-0">
                        <li class="d-block">
                            <a href="../template/danh-muc-tin-tuc.html">Danh mục</a>
                        </li>
                        <li class="d-block">
                            <a href="../template/chi-tiet-tin-tuc.html">Chi tiết</a>
                        </li>
                    </ul>
                    <span class="sub-icon">+</span>
                </li>
                <li class="d-inline-block hasSub">
                    <a href="javascript:void(0)">
                        Thẻ cào
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <ul class="list-unstyled mb-0">
                        <li class="d-block">
                            <a href="../template/danh-muc-the-cao.html">Danh mục</a>
                        </li>
                        <li class="d-block">
                            <a href="../template/mua-ma-the-style1.html">Chi tiết</a>
                        </li>
                    </ul>
                    <span class="sub-icon">+</span>
                </li>
                <li class="d-inline-block">
                    <a href="../template/nap-topup.html">
                        Topup
                    </a>
                </li>
                <li class="d-inline-block">
                    <a href="../template/chuyen-tien.html">
                        Chuyển tiền
                    </a>
                </li>
                <li class="d-inline-block">
                    <a href="../template/nap-tien.html">
                        Nạp tiền
                    </a>
                </li>
                <li class="d-inline-block">
                    <a href="../template/rut-tien.html">
                        Rút tiền
                    </a>
                </li>
            </ul>
        </div>
        <div class="header-user">
            <div class="header-nologin">
                <a href="../template/dang-ky.html" class="btn btn-small btn-register">
                    <i class="fas fa-user"></i> Đăng ký
                </a>
                <a href="../template/dang-nhap.html" class="btn btn-small btn-login">
                    <i class="fas fa-lock"></i> Đăng nhập
                </a>
            </div>
            <!--
            <div class="header-login">
                <ul class="list-unstyled mb-0">
                    <li class="d-inline-block">
                        <i class="fas fa-wallet mr-1"></i>
                        Số dư: <b>0đ</b>
                    </li>
                    <li class="d-inline-block">
                        <a href="../template/thong-tin-tai-khoan.html">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Tấn
                        </a>
                        <ul class="list-unstyled mb-0">
                            <li class="d-block">
                                <a href="../template/dang-ky.html">
                                    <i class="fa fa-angle-right"></i> <strong>Đăng ký</strong>
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="../template/dang-nhap.html">
                                    <i class="fa fa-angle-right"></i> <strong>Đăng nhập</strong>
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="../template/thong-tin-tai-khoan.html">
                                    <i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="../template/thong-tin-tai-khoan.html">
                                    <i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="../template/thong-tin-tai-khoan.html">
                                    <i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="../template/thong-tin-tai-khoan.html">
                                    <i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="../template/thong-tin-tai-khoan.html">
                                    <i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            -->
        </div>
        <div class="header-usermb">
            <button type="button" class="btn" id="call-userMB">
                <i class="fas fa-user"></i>
                Tài khoản
            </button>
            <div class="header-usermb_list">
                <ul class="list-unstyled mb-0">
                    <li class="d-inline-block text-center header-usermb_list__logo">
                        <a href="https://thesieure.com">
                            <img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png"
                                 height="40px"
                                 class="img-fluid" alt="">
                        </a>
                    </li>
                    <li class="d-inline-block header-usermb_list__title">
                        <i class="fas fa-wallet mr-1"></i>
                        Số dư: <b>0đ</b>
                    </li>
                    <li class="d-inline-block">
                        <a href="../template/thong-tin-tai-khoan.html">
                            <i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a href="../template/thong-tin-tai-khoan.html">
                            <i class="fa fa-angle-right"></i> <strong>Nạp thẻ</strong>
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a href="../template/thong-tin-tai-khoan.html">
                            <i class="fa fa-angle-right"></i> <strong>Đăng ký tài khoản</strong>
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a href="../template/thong-tin-tai-khoan.html">
                            <i class="fa fa-angle-right"></i> <strong>Đăng nhập</strong>
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a href="../template/thong-tin-tai-khoan.html">
                            <i class="fa fa-angle-right"></i> <strong>Quên mật khẩu</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-overlay" id="header-overlay"></div>
</header>

<div class="main">
    <div class="section-breadcrumb">
        <div class="container">
            <ol class="breadcrumb bg-transparent rounded-0 mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="#">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Nạp tiền</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="section-gap">
        <div class="container">
            <div class="alert-custom alert alert-danger">
                <b>Lưu ý:</b> nạp quỹ bằng tài khoản ngân hàng của bạn. Nếu lợi dụng ATM của website để nhận tiền người
                khác, rửa tiền, lừa đảo sẽ khóa vĩnh viễn! Thời gian đợi thanh toán đối đa 15 phút. Hệ thống tự động
                cộng tiền 24/24. Vui lòng ghi đúng nội dung chuyển khoản.
            </div>
            <div class="section-gap">
                <div class="row">
                    <div class="col-md-6">
                        <div class="description mb-3">
                            <div class="title">
                                CÁCH 1: NẠP QUỸ THEO SỐ ĐIỆN THOẠI & QR
                            </div>
                            <div class="desc">
                                <div class="my-4">
                                    <p class="text-center h6">Ngân hàng ACB</p>
                                    <p class="text-center">Số tài khoản: <b>23</b>
                                        <button type="button" class="btn btn-light btn-sm copy-value btn-vertical-top ml-1"
                                                data-value="23">
                                            <i class="fas fa-paste"></i>
                                        </button>
                                    </p>
                                    <p class="text-center">Chủ tài khoản: <b>NG</b>
                                        <button type="button" class="btn btn-light btn-sm copy-value btn-vertical-top ml-1"
                                                data-value="NG">
                                            <i class="fas fa-paste"></i>
                                        </button>
                                    </p>
                                    <p class="text-center">
                                        Nội dung chuyển tiền:
                                        <b class="font-weight-bold text-danger h6">tratien 0943793989</b>
                                        <button type="button" class="btn btn-light btn-sm copy-value btn-vertical-top ml-1"
                                                data-value="tratien 0943793989">
                                            <i class="fas fa-paste"></i>
                                        </button>
                                    </p>
                                </div>
                                <p class="text-muted">Bạn hãy chuyển tiền với nội dung bên trên vào một trong các số
                                    tài
                                    khoản dưới đây.
                                    Lưu ý số tiền chuyển không được lớn hơn hạn mức cho phép. Giao dịch sẽ được hoàn
                                    thành trong vòng 1-2 phút.</p>
                            </div>
                        </div>
                        <div class="description mb-3">
                            <div class="title">
                                CÁCH 2: TẠO YÊU CẦU NẠP QUỸ
                            </div>
                        </div>
                        <div class="form-m1">
                            <form action="">
                                <div class="row row10">
                                    <div class="col-12">
                                        <label for="" class="col-form-label">
                                            Số dư quỹ: <b class="font-weight-bold text-success">99,000 VND</b>
                                        </label>
                                    </div>
                                </div>
                                <div class="row row10">
                                    <div class="col-5 col-sm-4">
                                        <label for="" class="col-form-label font-weight-bold">
                                            Số tiền nạp:
                                        </label>
                                    </div>
                                    <div class="col-7 col-sm-8">
                                        <input type="text" class="form-control" placeholder="Số tiền cần nạp">
                                        <span class="text-danger text-small">Tối thiểu 30,000 VND , Tối đa 500,000
                                            VND</span>
                                    </div>
                                </div>
                                <div class="row row10">
                                    <div class="col-5 col-sm-4">
                                        <label for="" class="col-form-label font-weight-bold">
                                            Cổng thanh toán
                                        </label>
                                    </div>
                                    <div class="col-7 col-sm-8">
                                        <select name="" class="form-control" id="">
                                            <option value="">Ví điện tử Momo</option>
                                            <option value="">ATM Việt Nam (Internet Banking)</option>
                                            <option value="">Perfect Money</option>
                                            <option value="">Webmoney Transfer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row row10">
                                    <div class="col-sm-8 offset-sm-4 text-center text-center">
                                        <button type="submit" class="btn btn-primary btn-lg w-100">
                                            <i class="fas fa-dollar-sign"></i>
                                            Nạp tiền ngay
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4 mt-lg-0">
                        <div class="description mb-1">
                            <div class="small-title">
                                HẠN MỨC VÀ PHÍ:
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-module">
                                <tr>
                                    <td>Tổng hạn mức ngày</td>
                                    <th>500,000VNĐ</th>
                                </tr>
                                <tr>
                                    <td>Số tiền tối thiểu</td>
                                    <th>30,000VNĐ</th>
                                </tr>
                                <tr>
                                    <td>Số tiền tối đa</td>
                                    <th>500,000VNĐ</th>
                                </tr>
                            </table>
                        </div>
                        <div class="mt-4">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-module">
                                    <tr>
                                        <th>Cổng thanh toán</th>
                                        <th class="text-center">Phí cố định</th>
                                        <th class="text-center">Phí %</th>
                                    </tr>
                                    <tr>
                                        <td>Ví điện tử Momo</td>
                                        <td class="text-center">0 VND</td>
                                        <td class="text-center">1%</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="description mb-3">
                    <div class="sub-title">
                        Lịch sử nạp tiền
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-module">
                        <thead>
                        <tr>
                            <th>Đơn hàng</th>
                            <th class="text-center">Nạp vào quỹ</th>
                            <th class="text-center">Số tiền nạp</th>
                            <th>Cổng thanh toán</th>
                            <th>Ngày tạo</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>#order01</td>
                            <td class="text-center">Quỹ tài khoản</td>
                            <td class="text-center">102,000đ</td>
                            <td>Ví điện tử Momo</td>
                            <td>30-08-2022</td>
                            <td class="text-center"><span class="badge badge-module badge-success">Thành công</span>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm_table btn-info">Thay đổi</button>
                                <button type="button" class="btn btn-sm_table btn-danger">Xoá</button>
                            </td>
                        </tr>
                        <tr>
                            <td>#order01</td>
                            <td class="text-center">Quỹ tài khoản</td>
                            <td class="text-center">102,000đ</td>
                            <td>Ví điện tử Momo</td>
                            <td>30-08-2022</td>
                            <td class="text-center"><span class="badge badge-module badge-success">Thành công</span>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm_table btn-info">Thay đổi</button>
                                <button type="button" class="btn btn-sm_table btn-danger">Xoá</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 my-4">
                <div class="footer-item">
                    <div class="font-weight-bold footer-item_name">
                        CTY TNHH THANH TOÁN TRỰC TUYẾN GT1S
                    </div>
                    <div class="footer-item_text">
                        Chuyên mua bán thẻ cào giá rẻ, thanh toán K+, tiền điện, nước Nạp Tuop Carot, nhận tăng sub,
                        like facebook, GDTG, đổi tiền
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 my-4">
                <div class="footer-item">
                    <div class="footer-item_title">
                        Dịch vụ của CEO
                    </div>
                    <div class="footer-item_list">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="">Web gạch card: Gachthe1s.com</a>
                            </li>
                            <li>
                                <a href="https://admingt1s.vn/">Admingt1s.vn</a>
                            </li>
                            <li>
                                <a href="https://subgt1s.com/">Web sub: Subgt1s.com</a>
                            </li>
                            <li>
                                <a href="https://nickgt1s.com/">Web bán nick: Nickgt1s.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 my-4">
                <div class="footer-item">
                    <div class="footer-item_title">
                        Liên hệ
                    </div>
                    <div class="footer-item_list">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">Thời gian làm việc: 08h-23h</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/vanluctrunggianuytin">Facebook chính: Nguyễn Văn
                                    Lực
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/vanluctrumgdtg/">Facebook phụ: Văn Lực</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/CSKHGachthe1s">Fanpage: Gachthe1s.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-4">
                <div class="footer-item">
                    <div class="footer-item_title">
                        Liên hệ
                    </div>
                    <div class="footer-item_info">
                        <p>
                            <i class="fas fa-phone-alt"></i>
                            0842.271.271
                        </p>
                        <p>
                            <i class="fas fa-envelope"></i>
                            hotro.gachthe1s@gmail.com
                        </p>
                        <p class="mt-3 d-flex align-items-center justify-content-start footer-item_info__social">
                            <a href="https://www.facebook.com/van.luc.52687506/" class="facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="" class="google">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="" class="twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="" class="youtube">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 pt-1">
                    <a href="#" class="footer-bottom_copyright">© Software by Văn Lực.,</a>
                </div>
                <div class="col-6">
                    <div class="footer-dropdown d-flex align-items-center justify-content-end">
                        <div class="dropdown dropdown-wrap ml-2">
                            <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownLanguage"
                                    data-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-globe"></i>
                                <span>Tiếng Việt</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item " href="">English</a>
                                <a class="dropdown-item active " href="">Tiếng
                                    Việt
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type=" text/javascript" src="../assets/plugins/jquery.min.js"></script>
<script type="text/javascript"
        src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"
        src="../assets/plugins/swiper/swiper.min.js"></script>
<script type="text/javascript" src="../assets/js/app.js"></script>
</body>
</html>