<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<title>Clone thẻ siêu rẻ</title>
	<meta name="description" content="Clone thẻ siêu rẻ">
	<meta name="author" content="">

	<meta property="og:title" content="Clone thẻ siêu rẻ">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:description" content="Checkscam - Trang chủ">
	<meta property="og:image" content="">

	<link rel="icon" href="/assets/images/favicon.png">
	<link rel="apple-touch-icon" href="/assets/images/favicon.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
	      rel="stylesheet">
	<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/plugins/bootstrap-flatpickr/bootstrap-flatpickr.min.css">
	<link rel="stylesheet" href="../assets/plugins/select2/css/select2.min.css">
	<link rel="stylesheet" href="../assets/plugins/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="../assets/fonts/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="../assets/css/style.css">

	<style>
        :root {
            --primary-color: #013290;
            --primary-hover: #0c2a6b;
            --primary-rgb: 1, 36, 103;
        }
	</style>
</head>

<body class="container-theme">

<div id="header-v2" class="header-v2">
	<div class="header-main">
		<div class="container-fluid">
			<div class="header-grid">
				<div class="header-logo">
					<a href="" class="d-inline-block align-middle">
						<img src="../assets/images/netpay-white.png" class="img-fluid header-logo_is--noSticky" alt="">
						<img src="../assets/images/netpay.png" class="img-fluid header-logo_is--sticky" alt="">
					</a>
				</div>
				<div class="header-navigation">
					<div class="header-navigation_logo d-lg-none">
						<a href="" class="d-inline-flex align-middle">
							<img src="../assets/images/netpay.png" class="img-fluid" alt="">
						</a>
						<button type="button" class="close-navigation" id="close-navigation">
							<i class="fal fa-times"></i>
						</button>
					</div>
					<ul class="header-navigation_list">
						<li class="header-navigation_item">
							<a href="" class="header-navigation_item--link">
								Mua thẻ
							</a>
						</li>
						<li class="header-navigation_item">
							<a href="" class="header-navigation_item--link">
								Nạp topup
							</a>
						</li>
						<li class="header-navigation_item">
							<a href="" class="header-navigation_item--link">
								Sim số
							</a>
						</li>
						<li class="header-navigation_item">
							<a href="" class="header-navigation_item--link">
								Vé máy bay
							</a>
						</li>
						<li class="header-navigation_item">
							<a href="" class="header-navigation_item--link">
								Nick
							</a>
						</li>
						<li class="header-navigation_item">
							<a href="" class="header-navigation_item--link">
								Tài liệu
							</a>
						</li>
						<li class="header-navigation_item">
							<a href="" class="header-navigation_item--link">
								Hợp tác
							</a>
						</li>
						<li class="header-navigation_item">
							<a href="javascript:void(0)" class="header-navigation_item--link">
								Đại lý
								<i class="fal fa-angle-down header-navigation_item--icon"></i>
							</a>
							<ul class="header-navigation_sub--list header-navigation_sub--secondary">
								<li class="header-navigation_sub--item">
									<a href="" class="header-navigation_sub--item---link">
										<div class="header-navigation_sub--item---content">
											<div class="header-navigation_sub--item---content_title">
												Bảng giá thẻ cào
											</div>
										</div>
									</a>
								</li>
								<li class="header-navigation_sub--item">
									<a href="" class="header-navigation_sub--item---link">
										<div class="header-navigation_sub--item---content">
											<div class="header-navigation_sub--item---content_title">
												Bảng giá nạp topup
											</div>
										</div>
									</a>
								</li>
								<li class="header-navigation_sub--item">
									<a href="" class="header-navigation_sub--item---link">
										<div class="header-navigation_sub--item---content">
											<div class="header-navigation_sub--item---content_title">
												Tài liệu API
											</div>
										</div>
									</a>
								</li>
								<li class="header-navigation_sub--item">
									<a href="" class="header-navigation_sub--item---link">
										<div class="header-navigation_sub--item---content">
											<div class="header-navigation_sub--item---content_title">
												Đăng ký đại lý
											</div>
										</div>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="header-language header-language_pc">
					<a href="javascript:void(0)" class="header-language_button active">
						<img src="../assets/images/language/vietnam-64x64.png" class="img-fluid" alt="">
					</a>
					<a href="javascript:void(0)" class="header-language_button">
						<img src="../assets/images/language/kingdom-64x64.png" class="img-fluid" alt="">
					</a>
					<a href="javascript:void(0)" class="header-language_button">
						<img src="../assets/images/language/china-64x64.png" class="img-fluid" alt="">
					</a>
					<a href="javascript:void(0)" class="header-language_button">
						<img src="../assets/images/language/kingdom-64x64.png" class="img-fluid" alt="">
					</a>
					<a href="javascript:void(0)" class="header-language_button">
						<img src="../assets/images/language/china-64x64.png" class="img-fluid" alt="">
					</a>
				</div>
				<div class="header-language header-language_mobile">
					<a href="javascript:void(0)" class="header-language_button">
						<img src="../assets/images/language/vietnam-64x64.png" class="img-fluid" alt="">
						<span>
							Tiếng Việt
						</span>
					</a>
					<div class="header-language_list">
						<a href="javascript:void(0)" class="header-language_list--item">
							<img src="../assets/images/language/vietnam-64x64.png" class="img-fluid" alt="">
							Tiếng Việt
						</a>
						<a href="javascript:void(0)" class="header-language_list--item">
							<img src="../assets/images/language/kingdom-64x64.png" class="img-fluid" alt="">
							English
						</a>
						<a href="javascript:void(0)" class="header-language_list--item">
							<img src="../assets/images/language/china-64x64.png" class="img-fluid" alt="">
							中国
						</a>
					</div>
				</div>
				<div class="header-account">
					<!--
					---
					--- Chưa đăng nhập
					---
					-->
					<div class="header-account_button">
						<a href="" class="button-theme d-lg-inline-flex d-none">
							Đăng nhập
						</a>
						<a href="" class="d-block d-lg-none">
							<i class="fas fa-user-alt"></i>
						</a>
					</div>

					<!--
					---
					--- Đã đăng nhập
					---
					<div class="header-account_list">
						<a href="javascript:void(0)"
						   class="button-theme d-lg-inline-flex d-none">
							Tài khoản
						</a>
						<a href="javascript:void(0)" class="d-block d-lg-none">
							<i class="fas fa-user-alt"></i>
						</a>
						<ul class="list-unstyled mb-0">
							<li class="header-account_list--header">
								Xin chào,
								<br>
								<b>Nguyễn Văn A</b>
							</li>
							<li class="header-account_list--item">
								<a href="">
									<i class="fas fa-user"></i>
									Thông tin tài khoản
								</a>
							</li>
							<li class="header-account_list--item">
								<a href="">
									<i class="fas fa-clipboard-list"></i>
									Lịch sử mua hàng
								</a>
							</li>
							<li class="header-account_list--item">
								<a href="">
									<i class="fas fa-lock-alt"></i>
									Đổi mật khẩu
								</a>
							</li>
							<li class="header-account_list--bottom">
								<a href="">
									Đăng xuất
								</a>
							</li>
						</ul>
					</div>
					-->
				</div>
				<div class="header-hamburger d-block d-lg-none">
					<div class="hamburger" id="call-navigation">
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-overlay" id="header-overlay"></div>
</div>

<div class="main">
	<div class="slider-hero" id="slider-hero">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="section-hero">
						<div class="container">
							<div class="hero-item">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<div class="hero-item_content">
											<div class="hero-item_content--title">
												Thiết kế website và phần mềm trực tuyến
											</div>
											<div class="hero-item_content--description">
												Trên 15 năm kinh nghiệm trong ngành công nghệ phần mềm, đội ngũ nhân sự
												chuyên nghiệp, sản phẩm đóng gói sẵn sàng, hỗ trợ và chăm sóc khách hàng
												24/7.
											</div>
											<div class="hero-item_content--button">
												<a href="" class="button-theme">
													Xem chi tiết
												</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6 d-none d-lg-block">
										<div class="hero-item_image">
											<img src="../assets/images/banner/software.png" class="img-fluid"
											     alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="section-hero">
						<div class="container">
							<div class="hero-item">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<div class="hero-item_content">
											<div class="hero-item_content--title">
												Thiết kế website và phần mềm trực tuyến
											</div>
											<div class="hero-item_content--description">
												Trên 15 năm kinh nghiệm trong ngành công nghệ phần mềm, đội ngũ nhân sự
												chuyên nghiệp, sản phẩm đóng gói sẵn sàng, hỗ trợ và chăm sóc khách hàng
												24/7.
											</div>
											<div class="hero-item_content--button">
												<a href="" class="button-theme">
													Xem chi tiết
												</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6 d-none d-lg-block">
										<div class="hero-item_image">
											<img src="../assets/images/banner/software.png" class="img-fluid"
											     alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="section-hero">
						<div class="container">
							<div class="hero-item">
								<div class="row align-items-center">
									<div class="col-lg-6">
										<div class="hero-item_content">
											<div class="hero-item_content--title">
												Thiết kế website và phần mềm trực tuyến
											</div>
											<div class="hero-item_content--description">
												Trên 15 năm kinh nghiệm trong ngành công nghệ phần mềm, đội ngũ nhân sự
												chuyên nghiệp, sản phẩm đóng gói sẵn sàng, hỗ trợ và chăm sóc khách hàng
												24/7.
											</div>
											<div class="hero-item_content--button">
												<a href="" class="button-theme">
													Xem chi tiết
												</a>
											</div>
										</div>
									</div>
									<div class="col-lg-6 d-none d-lg-block">
										<div class="hero-item_image">
											<img src="../assets/images/banner/software.png" class="img-fluid"
											     alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-hero_group">
			<div class="slider-button_prev">
				<i class="far fa-long-arrow-left"></i>
			</div>
			<div class="slider-pagination"></div>
			<div class="slider-button_next">
				<i class="far fa-long-arrow-right"></i>
			</div>
		</div>
	</div>
	<div class="section-gap">
		<div class="container">
			<div class="description mb-3">
				<div class="text-center title text-uppercase">
					Sản phẩm dịch vụ
				</div>
			</div>
			<div class="row rowmb10 row15 row-cols-lg-6 row-cols-md-4 row-cols-3">
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/naptopup.jpg" alt="">
						</div>
						<div class="card-title">
							Nạp tiền điện thoại
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/ngocrong.jpg" alt="">
						</div>
						<div class="card-title">
							Nạp carot
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/evn.jpg" alt="">
						</div>
						<div class="card-title">
							Thanh toán tiền điện
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/goidata.jpg" alt="">
						</div>
						<div class="card-title">
							Đăng ký data
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/naptopup.jpg" alt="">
						</div>
						<div class="card-title">
							Nạp tiền điện thoại
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/ngocrong.jpg" alt="">
						</div>
						<div class="card-title">
							Nạp carot
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/evn.jpg" alt="">
						</div>
						<div class="card-title">
							Thanh toán tiền điện
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/goidata.jpg" alt="">
						</div>
						<div class="card-title">
							Đăng ký data
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/naptopup.jpg" alt="">
						</div>
						<div class="card-title">
							Nạp tiền điện thoại
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/ngocrong.jpg" alt="">
						</div>
						<div class="card-title">
							Nạp carot
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/evn.jpg" alt="">
						</div>
						<div class="card-title">
							Thanh toán tiền điện
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/goidata.jpg" alt="">
						</div>
						<div class="card-title">
							Đăng ký data
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/naptopup.jpg" alt="">
						</div>
						<div class="card-title">
							Nạp tiền điện thoại
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/ngocrong.jpg" alt="">
						</div>
						<div class="card-title">
							Nạp carot
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/evn.jpg" alt="">
						</div>
						<div class="card-title">
							Thanh toán tiền điện
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/ngocrong.jpg" alt="">
						</div>
						<div class="card-title">
							Nạp carot
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/evn.jpg" alt="">
						</div>
						<div class="card-title">
							Thanh toán tiền điện
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/naptopup.jpg" alt="">
						</div>
						<div class="card-title">
							Nạp tiền điện thoại
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/ngocrong.jpg" alt="">
						</div>
						<div class="card-title">
							Nạp carot
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/evn.jpg" alt="">
						</div>
						<div class="card-title">
							Thanh toán tiền điện
						</div>
					</a>
				</div>
				<div class="col">
					<a href="javascript:void(0)" class="card-topup_v2 card-topup card">
						<div class="card-image">
							<img src="https://thedientu.com/storage/userfiles/images/topup/goidata.jpg" alt="">
						</div>
						<div class="card-title">
							Đăng ký data
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section-gap">
		<div class="container">
			<div class="description mb-3">
				<div class="text-center title text-uppercase">
					Thanh toán
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="partner-wrapper partner-wrapper_v2">
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/vnpay.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/bamboo.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/techcombank.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/paypal.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/vietjet.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/garena.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/momo.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/viettel.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/vnpay.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/bamboo.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/techcombank.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/paypal.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/vietjet.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/garena.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/momo.jpg"
							     title="Webmoney Transfer">
						</a>
						<a class="partner-item" href="#" target="_blank" rel="nofollow">
							<img src="../assets/images/payments/viettel.jpg"
							     title="Webmoney Transfer">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer id="footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 my-4">
				<div class="footer-item">
					<div class="font-weight-bold footer-item_name">
						CTY TNHH THANH TOÁN TRỰC TUYẾN GT1S
					</div>
					<div class="footer-item_text">
						Chuyên mua bán thẻ cào giá rẻ, thanh toán K+, tiền điện, nước Nạp Tuop Carot, nhận tăng sub,
						like facebook, GDTG, đổi tiền
					</div>
				</div>
			</div>
			<div class="col-md-3 col-6 my-4">
				<div class="footer-item">
					<div class="footer-item_title">
						Dịch vụ của CEO
					</div>
					<div class="footer-item_list">
						<ul class="list-unstyled mb-0">
							<li>
								<a href="">Web gạch card: Gachthe1s.com</a>
							</li>
							<li>
								<a href="https://admingt1s.vn/">Admingt1s.vn</a>
							</li>
							<li>
								<a href="https://subgt1s.com/">Web sub: Subgt1s.com</a>
							</li>
							<li>
								<a href="https://nickgt1s.com/">Web bán nick: Nickgt1s.com</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-6 my-4">
				<div class="footer-item">
					<div class="footer-item_title">
						Liên hệ
					</div>
					<div class="footer-item_list">
						<ul class="list-unstyled mb-0">
							<li>
								<a href="#">Thời gian làm việc: 08h-23h</a>
							</li>
							<li>
								<a href="https://www.facebook.com/vanluctrunggianuytin">Facebook chính: Nguyễn Văn
									Lực
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/vanluctrumgdtg/">Facebook phụ: Văn Lực</a>
							</li>
							<li>
								<a href="https://www.facebook.com/CSKHGachthe1s">Fanpage: Gachthe1s.com</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 my-4">
				<div class="footer-item">
					<div class="footer-item_title">
						Liên hệ
					</div>
					<div class="footer-item_info">
						<p>
							<i class="fas fa-phone-alt"></i>
							0842.271.271
						</p>
						<p>
							<i class="fas fa-envelope"></i>
							hotro.gachthe1s@gmail.com
						</p>
						<p class="mt-3 d-flex align-items-center justify-content-start footer-item_info__social">
							<a href="https://www.facebook.com/van.luc.52687506/" class="facebook">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="" class="google">
								<i class="fab fa-google-plus-g"></i>
							</a>
							<a href="" class="twitter">
								<i class="fab fa-twitter"></i>
							</a>
							<a href="" class="youtube">
								<i class="fab fa-youtube"></i>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-6 pt-1">
					<a href="#" class="footer-bottom_copyright">© Software by Văn Lực.,</a>
				</div>
				<div class="col-6">
					<div class="footer-dropdown d-flex align-items-center justify-content-end">
						<div class="dropdown dropdown-wrap ml-2">
							<button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownLanguage"
							        data-toggle="dropdown" aria-expanded="false">
								<i class="fas fa-globe"></i>
								<span>Tiếng Việt</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
								<a class="dropdown-item " href="">English</a>
								<a class="dropdown-item active " href="">Tiếng
									Việt
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script type=" text/javascript" src="../assets/plugins/jquery.min.js"></script>
<script type="text/javascript"
        src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"
        src="../assets/plugins/bootstrap-flatpickr/bootstrap-flatpickr.js"></script>
<script type="text/javascript"
        src="../assets/plugins/bootstrap-flatpickr/bootstrap-flatpickr-vn.js"></script>
<script type="text/javascript" src="../assets/plugins/select2/js/select2.min.js"></script>
<script type="text/javascript" src="../assets/plugins/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="../assets/js/app.js"></script>
</body>
</html>