<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<title>Clone thẻ siêu rẻ</title>
	<meta name="description" content="Clone thẻ siêu rẻ">
	<meta name="author" content="">

	<meta property="og:title" content="Clone thẻ siêu rẻ">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:description" content="Checkscam - Trang chủ">
	<meta property="og:image" content="">

	<link rel="icon" href="/assets/images/favicon.png">
	<link rel="apple-touch-icon" href="/assets/images/favicon.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
		  rel="stylesheet">
	<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/plugins/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="../assets/fonts/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="../assets/css/style.css">

	<style>
		:root {
			--primary-color: #013290;
			--primary-hover: #0c2a6b;
			--primary-rgb: 1, 36, 103;
		}
	</style>
</head>

<body>

<header id="header-m2" class="header-m2">

</header>

<div class="main">
	<div class="nick-banner">
		<div class="container">
			<div class="row row10">
				<div class="col-lg-4">
					<div class="nick-form">

					</div>
				</div>
				<div class="col-lg-8">
					<div class="nick-banner_slider" id="nick-banner">
						<div class="swiper">
							<div class="swiper-wrapper h-auto">
								<div class="swiper-slide h-auto">
									<div class="nick-banner_slider--item">
										<img src="../assets/images/nick/banner/banner-2.png" class="w-100 img-fluid"
											 alt="">
										<a href="" class="stretched-link"></a>
									</div>
								</div>
								<div class="swiper-slide h-auto">
									<div class="nick-banner_slider--item">
										<img src="../assets/images/nick/banner/banner-3.png" class="w-100 img-fluid"
											 alt="">
										<a href="" class="stretched-link"></a>
									</div>
								</div>
								<div class="swiper-slide h-auto">
									<div class="nick-banner_slider--item">
										<img src="../assets/images/nick/banner/banner-4.png" class="w-100 img-fluid"
											 alt="">
										<a href="" class="stretched-link"></a>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
			<div class="row row10 mt-0">
				<div class="col-lg-3">
					<div class="nick-banner_slider--item nick-banner_js">
						<img src="../assets/images/nick/banner/banner-5.png" class="w-100 img-fluid"
							 alt="">
						<a href="" class="stretched-link"></a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="nick-banner_slider--item nick-banner_js">
						<img src="../assets/images/nick/banner/banner-6.png" class="w-100 img-fluid"
							 alt="">
						<a href="" class="stretched-link"></a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="nick-banner_slider--item nick-banner_js">
						<img src="../assets/images/nick/banner/banner-5.png" class="w-100 img-fluid"
							 alt="">
						<a href="" class="stretched-link"></a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="nick-banner_slider--item nick-banner_js">
						<img src="../assets/images/nick/banner/banner-6.png" class="w-100 img-fluid"
							 alt="">
						<a href="" class="stretched-link"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-gap">
		<div class="container">
			<div class="alert alert-danger nick-marquee">
				<i class="fas fa-bell-on"></i>
				<marquee onmouseover="this.stop()" onmouseout="this.start()" behavior="scroll" scrolldelay="10">
					KHUYẾN MẠI 100% THẺ CÀO, NẠP ATM/MOMO KHUYẾN MẠI 20%, NHẬN TIỀN KHUYẾN MẠI MIỄN PHÍ, SĂN ACC OĐ THEO
					KHUNG GIỜ VÀNG
				</marquee>
			</div>
		</div>
	</div>
	<div class="section-gap">
		<div class="container">
			<div class="description text-center mb-4">
				<div class="title mb-1">
					Sản phẩm nổi bật
				</div>
				<p>Danh sách những sản phẩm theo xu hướng mà có thể bạn sẽ thích</p>
			</div>
			<div class="row row10">
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-gap border-top">
		<div class="container">
			<div class="description text-center mb-4 section-gap pb-0">
				<div class="title">
					Game nổi bật
				</div>
			</div>
			<div class="row row10">
				<div class="col-lg-2">
					<a href="" class="nick-game d-inline-block align-middle rounded-lg overflow-hidden">
						<img src="../assets/images/nick/freefire.jpg" class="img-fluid" alt="">
					</a>
				</div>
				<div class="col-lg-2">
					<a href="" class="nick-game d-inline-block align-middle rounded-lg overflow-hidden">
						<img src="../assets/images/nick/lienquan.jpg" class="img-fluid" alt="">
					</a>
				</div>
				<div class="col-lg-2">
					<a href="" class="nick-game d-inline-block align-middle rounded-lg overflow-hidden">
						<img src="../assets/images/nick/pubg.jpg" class="img-fluid" alt="">
					</a>
				</div>
				<div class="col-lg-2">
					<a href="" class="nick-game d-inline-block align-middle rounded-lg overflow-hidden">
						<img src="../assets/images/nick/freefire.jpg" class="img-fluid" alt="">
					</a>
				</div>
				<div class="col-lg-2">
					<a href="" class="nick-game d-inline-block align-middle rounded-lg overflow-hidden">
						<img src="../assets/images/nick/lienquan.jpg" class="img-fluid" alt="">
					</a>
				</div>
				<div class="col-lg-2">
					<a href="" class="nick-game d-inline-block align-middle rounded-lg overflow-hidden">
						<img src="../assets/images/nick/pubg.jpg" class="img-fluid" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section-gap nick-bg-dark" style="background-image: url('../assets/images/nick/bg-freefire.jpg')">
		<div class="container position-relative">
			<div class="description text-center mb-4">
				<div class="title mb-1">
					Top bán chạy
				</div>
			</div>
			<div class="row row10">
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-6">
					<div class="nick-card card">
						<div class="card-header border-0 rounded-0 p-0 bg-transparent position-relative">
							<a href="">
								<img src="../assets/images/nick/product.gif" alt="">
							</a>
						</div>
						<div class="card-body">
							<div class="card-title">
								<a href="">
									Vòng Quay Ưu Đãi Năm Mới
								</a>
							</div>
							<div class="card-meta">
								<div class="card-meta_item">
									Số tài khoản hiện có: <b>400</b>
								</div>
								<div class="card-meta_item">
									Đã bán: <b>1.350</b>
								</div>
							</div>
							<div class="card-price">
								<div class="card-price_current">50.000đ</div>
								<div class="card-price_old">75.000đ</div>
								<div class="card-price_sale">
									-33%
								</div>
							</div>
							<div class="card-button text-center mt-3">
								<a href="">
									<img src="../assets/images/nick/xem-tat-ca.gif" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer id="footer-m2" class="footer-m2">

</footer>

<script type=" text/javascript" src="../assets/plugins/jquery.min.js"></script>
<script type="text/javascript"
		src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="../assets/plugins/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="../assets/js/app.js"></script>
</body>
</html>