<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<title>Clone thẻ siêu rẻ</title>
	<meta name="description" content="Clone thẻ siêu rẻ">
	<meta name="author" content="">

	<meta property="og:title" content="Clone thẻ siêu rẻ">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:description" content="Checkscam - Trang chủ">
	<meta property="og:image" content="">

	<link rel="icon" href="/assets/images/favicon.png">
	<link rel="apple-touch-icon" href="/assets/images/favicon.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
		  rel="stylesheet">
	<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/plugins/bootstrap-flatpickr/bootstrap-flatpickr.min.css">
	<link rel="stylesheet" href="../assets/plugins/select2/css/select2.min.css">
	<link rel="stylesheet" href="../assets/plugins/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="../assets/fonts/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="../assets/css/style.css">

	<style>
		:root {
			--primary-color: #013290;
			--primary-hover: #0c2a6b;
			--primary-rgb: 1, 36, 103;
		}
	</style>
</head>

<body>
<header id="header-m1" class="header-m1">
	<div class="container d-flex align-items-center flex-lg-wrap">
		<div class="header-hamburger" id="call-navigation">
			<span></span>
		</div>
		<a class="header-logo" href="https://thesieure.com">
			<img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png" height="40px"
				 class="img-fluid" alt="">
		</a>
		<div class="header-navigation">
			<ul class="list-unstyled mb-0">
				<li class="d-lg-none d-inline-block navigation-logo text-center">
					<a href="https://thesieure.com">
						<img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png" height="40px"
							 class="img-fluid" alt="">
					</a>
				</li>
				<li class="d-inline-block">
					<a href="../template/index.html">
						Trang chủ
					</a>
				</li>
				<li class="d-inline-block hasSub">
					<a href="javascript:void(0)">
						Modules
						<i class="fas fa-caret-down"></i>
					</a>
					<ul class="list-unstyled mb-0">
						<li class="d-block">
							<a href="../forms.html">Forms</a>
						</li>
						<li class="d-block">
							<a href="../banner.html">Banner</a>
						</li>
						<li class="d-block">
							<a href="../tables.html">Tables</a>
						</li>
						<li class="d-block">
							<a href="../tabs.html">Tabs</a>
						</li>
						<li class="d-block">
							<a href="../modals-buttons.html">Modals & Buttons</a>
						</li>
						<li class="d-block">
							<a href="../cards.html">Cards</a>
						</li>
						<li class="d-block">
							<a href="../articles.html">Articles</a>
						</li>
						<li class="d-block">
							<a href="../headers.html">Header</a>
						</li>
						<li class="d-block">
							<a href="../label.html">Lables</a>
						</li>
						<li class="d-block">
							<a href="../alerts-heading.html">Alerts & Heading</a>
						</li>
						<li class="d-block">
							<a href="../module-ve.html">Module Vé</a>
						</li>
					</ul>
					<span class="sub-icon">+</span>
				</li>
				<li class="d-inline-block hasSub">
					<a href="javascript:void(0)">
						Tin tức
						<i class="fas fa-caret-down"></i>
					</a>
					<ul class="list-unstyled mb-0">
						<li class="d-block">
							<a href="../template/danh-muc-tin-tuc.html">Danh mục</a>
						</li>
						<li class="d-block">
							<a href="../template/chi-tiet-tin-tuc.html">Chi tiết</a>
						</li>
					</ul>
					<span class="sub-icon">+</span>
				</li>
				<li class="d-inline-block hasSub">
					<a href="javascript:void(0)">
						Thẻ cào
						<i class="fas fa-caret-down"></i>
					</a>
					<ul class="list-unstyled mb-0">
						<li class="d-block">
							<a href="../template/danh-muc-the-cao.html">Danh mục</a>
						</li>
						<li class="d-block">
							<a href="../template/mua-ma-the-style1.html">Chi tiết</a>
						</li>
					</ul>
					<span class="sub-icon">+</span>
				</li>
				<li class="d-inline-block">
					<a href="../template/nap-topup.html">
						Topup
					</a>
				</li>
				<li class="d-inline-block hasSub">
					<a href="javascript:void(0)">
						Thao tác
						<i class="fas fa-caret-down"></i>
					</a>
					<ul class="list-unstyled mb-0">
						<li class="d-block">
							<a href="../template/chuyen-tien.html">
								Chuyển tiền
							</a>
						</li>
						<li class="d-block">
							<a href="../template/nap-tien.html">
								Nạp tiền
							</a>
						</li>
						<li class="d-block">
							<a href="../template/rut-tien.html">
								Rút tiền
							</a>
						</li>
					</ul>
					<span class="sub-icon">+</span>
				</li>
				<li class="d-inline-block">
					<a href="../template/ve.html">
						Vé
					</a>
				</li>
			</ul>
		</div>
		<div class="header-user">
			<div class="header-nologin">
				<a href="../template/dang-ky.html" class="btn btn-small btn-register">
					<i class="fas fa-user"></i> Đăng ký
				</a>
				<a href="../template/dang-nhap.html" class="btn btn-small btn-login">
					<i class="fas fa-lock"></i> Đăng nhập
				</a>
			</div>
			<!--
			<div class="header-login">
				<ul class="list-unstyled mb-0">
					<li class="d-inline-block">
						<i class="fas fa-wallet mr-1"></i>
						Số dư: <b>0đ</b>
					</li>
					<li class="d-inline-block">
						<a href="../template/thong-tin-tai-khoan.html">
							<i class="fa fa-user" aria-hidden="true"></i>
							Tấn
						</a>
						<ul class="list-unstyled mb-0">
							<li class="d-block">
								<a href="../template/dang-ky.html">
									<i class="fa fa-angle-right"></i> <strong>Đăng ký</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="../template/dang-nhap.html">
									<i class="fa fa-angle-right"></i> <strong>Đăng nhập</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="../template/thong-tin-tai-khoan.html">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="../template/thong-tin-tai-khoan.html">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="../template/thong-tin-tai-khoan.html">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="../template/thong-tin-tai-khoan.html">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="../template/thong-tin-tai-khoan.html">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			-->
		</div>
		<div class="header-usermb">
			<button type="button" class="btn" id="call-userMB">
				<i class="fas fa-user"></i>
				Tài khoản
			</button>
			<div class="header-usermb_list">
				<ul class="list-unstyled mb-0">
					<li class="d-inline-block text-center header-usermb_list__logo">
						<a href="https://thesieure.com">
							<img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png"
								 height="40px"
								 class="img-fluid" alt="">
						</a>
					</li>
					<li class="d-inline-block header-usermb_list__title">
						<i class="fas fa-wallet mr-1"></i>
						Số dư: <b>0đ</b>
					</li>
					<li class="d-inline-block">
						<a href="../template/thong-tin-tai-khoan.html">
							<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
						</a>
					</li>
					<li class="d-inline-block">
						<a href="../template/thong-tin-tai-khoan.html">
							<i class="fa fa-angle-right"></i> <strong>Nạp thẻ</strong>
						</a>
					</li>
					<li class="d-inline-block">
						<a href="../template/thong-tin-tai-khoan.html">
							<i class="fa fa-angle-right"></i> <strong>Đăng ký tài khoản</strong>
						</a>
					</li>
					<li class="d-inline-block">
						<a href="../template/thong-tin-tai-khoan.html">
							<i class="fa fa-angle-right"></i> <strong>Đăng nhập</strong>
						</a>
					</li>
					<li class="d-inline-block">
						<a href="../template/thong-tin-tai-khoan.html">
							<i class="fa fa-angle-right"></i> <strong>Quên mật khẩu</strong>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header-overlay" id="header-overlay"></div>
</header>

<div class="main">
	<div class="section-breadcrumb">
		<div class="container">
			<ol class="breadcrumb bg-transparent rounded-0 mb-0 p-0">
				<li class="breadcrumb-item">
					<a href="#">Trang chủ</a>
				</li>
				<li class="breadcrumb-item">
					<a href="#">Đặt vé</a>
				</li>
			</ol>
		</div>
	</div>
	<div class="section-booking py-5">
		<div class="container">
			<div class="row row10 rowmb5">
				<div class="col-lg-8 col-md-9">
					<div class="card bg-white rounded shadow-sm border card-info card-currency position-relative">
						<div class="card-body position-relative p-0" role="button" data-toggle="collapse"
							 data-target="#collapseLanguage">
							<div class="bg">
								<svg width="217" height="84" viewBox="0 0 217 84" fill="none"
									 xmlns="http://www.w3.org/2000/svg" class="plane-illustration" data-v-1e7c45fe="">
									<path fill-rule="evenodd" clip-rule="evenodd"
										  d="M210.331 -9.31393C203.082 -14.7154 189.2 -13.2012 164.861 6.75939C157.134 13.1023 147.861 19.7704 133.913 30.8257C87.651 39.4981 76.9958 42.0314 62.0705 46.0206C53.7649 48.3598 47.6042 54.0621 47.6042 54.0621C47.6042 54.0621 84.7029 55.1832 103.09 54.7755C90.3248 64.5884 78.9662 73.2171 72.0773 78.1624C52.0289 92.5226 32.644 87.2182 20.5921 78.9874C14.5412 75.0661 5.69674 78.9195 0 83.0203C0 83.0203 20.627 100.986 30.4192 107.436C43.8779 116.293 73.9778 111.348 89.7611 100.414C124.605 76.2746 204.554 12.1608 217 1.48411C217 1.48411 215.903 -5.19369 210.331 -9.31393Z"
										  fill="url(#paint0_linear)"></path>
									<defs>
										<linearGradient id="paint0_linear" x1="108.5" y1="-12" x2="108.5" y2="112"
														gradientUnits="userSpaceOnUse">
											<stop stop-color="#FF989C"></stop>
											<stop offset="1" stop-color="#FFAFB2" stop-opacity="0"></stop>
										</linearGradient>
									</defs>
								</svg>
							</div>
							<div class="main d-flex align-items-center justify-content-between p-4 position-relative">
								<div class="inner">
									<div class="card-subtext text-muted">Tiền tệ thanh toán</div>
									<div class="card-title">
										<span style="background-image: url('../assets/images/language/vi.svg')"></span>
										VNĐ - Đồng Việt Nam
									</div>
								</div>
								<div class="icon">
									<i class="fas fa-angle-down"></i>
								</div>
							</div>
						</div>
						<div class="collapse bg-white" id="collapseLanguage">
							<div class="p-md-4 p-3">
								<ul class="list-unstyled mb-0 d-flex align-items-center justify-content-flex-start flex-wrap">
									<li>
										<a href="#" class="stretched-link"></a>
										<span style="background-image: url('../assets/images/language/au.svg')"></span>
										AUD - Đô la Úc
									</li>
									<li>
										<a href="#" class="stretched-link"></a>
										<span style="background-image: url('../assets/images/language/cn.svg')"></span>
										CNY - Nhân dân tệ
									</li>
									<li>
										<a href="#" class="stretched-link"></a>
										<span style="background-image: url('../assets/images/language/eu.svg')"></span>
										EUR - Đồng EURO
									</li>
									<li>
										<a href="#" class="stretched-link"></a>
										<span style="background-image: url('../assets/images/language/gb.svg')"></span>
										GBP - Bảng Anh
									</li>
									<li>
										<a href="#" class="stretched-link"></a>
										<span style="background-image: url('../assets/images/language/hk.svg')"></span>
										HKD - Đô la Hong Kong
									</li>
									<li>
										<a href="#" class="stretched-link"></a>
										<span style="background-image: url('../assets/images/language/au.svg')"></span>
										AUD - Đô la Úc
									</li>
									<li>
										<a href="#" class="stretched-link"></a>
										<span style="background-image: url('../assets/images/language/cn.svg')"></span>
										CNY - Nhân dân tệ
									</li>
									<li>
										<a href="#" class="stretched-link"></a>
										<span style="background-image: url('../assets/images/language/eu.svg')"></span>
										EUR - Đồng EURO
									</li>
									<li>
										<a href="#" class="stretched-link"></a>
										<span style="background-image: url('../assets/images/language/gb.svg')"></span>
										GBP - Bảng Anh
									</li>
									<li>
										<a href="#" class="stretched-link"></a>
										<span style="background-image: url('../assets/images/language/hk.svg')"></span>
										HKD - Đô la Hong Kong
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card bg-white rounded shadow-sm border card-info card-payment">
						<div class="card-header">
							<div class="card-title">
								Phương thức thanh toán
							</div>
						</div>
						<div class="card-body">
							<div class="item">
								<div class="card-title">
									Chuyển khoản
								</div>
								<ul class="list-unstyled mb-0 d-flex align-items-center justify-content-flex-start flex-wrap">
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/VCB.webp" alt="">
										</div>
									</li>
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/TCB.webp" alt="">
										</div>
									</li>
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/EXB.webp" alt="">
										</div>
									</li>
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/VIB.webp" alt="">
										</div>
									</li>
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/ACB.webp" alt="">
										</div>
									</li>
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/VIB.webp" alt="">
										</div>
									</li>
								</ul>
							</div>
							<div class="item">
								<div class="card-title">
									Thẻ ATM nội địa
								</div>
								<ul class="list-unstyled mb-0 d-flex align-items-center justify-content-flex-start flex-wrap">
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/VCB.webp" alt="">
										</div>
									</li>
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/TCB.webp" alt="">
										</div>
									</li>
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/EXB.webp" alt="">
										</div>
									</li>
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/VIB.webp" alt="">
										</div>
									</li>
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/ACB.webp" alt="">
										</div>
									</li>
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/VIB.webp" alt="">
										</div>
									</li>
								</ul>
							</div>
							<div class="item">
								<div class="card-title">
									Ngân hàng trực tuyến
								</div>
								<ul class="list-unstyled mb-0 d-flex align-items-center justify-content-flex-start flex-wrap">
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/VCB.webp" alt="">
										</div>
									</li>
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/TCB.webp" alt="">
										</div>
									</li>
									<li>
										<a href="thanh-toan-buoc-2.html" class="stretched-link"></a>
										<div class="item-image">
											<img src="../assets/images/payment/VIB.webp" alt="">
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-3">
					<div class="card-sidebar">
						<div class="card-sidebar_item card-sidebar_order card bg-white card-flight">
							<div class="card-header">
								<div class="card-title">
									Chuyến bay
								</div>
							</div>
							<div class="card-body">
								<div class="card-flight--info">
									<div class="card-text d-flex align-items-center justify-content-center">
										<div class="mr-auto">
											<div class="font-weight-bold text-dark">
												Mã Airpaz
											</div>
										</div>
										<div class="ml-auto flex-shrink-0 color-red font-weight-bold">
											1012371376
										</div>
									</div>
									<div class="card-text d-flex align-items-center justify-content-center">
										<div class="mr-auto">
											<div class="font-weight-bold text-dark">
												Trạng thái đặt chỗ
											</div>
										</div>
										<div class="ml-auto flex-shrink-0">
											<div class="alert alert-danger">
												Cần thanh toán
											</div>
										</div>
									</div>
									<div class="card-text">
										<div class="font-weight-bold text-dark">Khởi hành chuyến bay</div>
										<div class="text-muted">
											Ngày 23 tháng 03 năm 2021
											<span class="d-inline-block mt-1 color-red">(ÂL: 12-02 Năm Tân Sửu)</span>
										</div>
									</div>
									<div class="card-text d-flex align-items-center justify-content-center">
										<div class="mr-auto">
											<div class="font-weight-bold text-dark">Vietnam Air Airlines</div>
											<div class="text-muted">
												VJ175
											</div>
										</div>
										<div class="ml-auto flex-shrink-0">
											<img src=".../assets/images/VN.webp" alt="">
										</div>
									</div>
								</div>
								<div class="card-detail d-flex border-top">
									<div class="timeline d-flex align-items-center justify-content-center flex-column flex-shrink-0">
										<i class="circle"></i>
										<i class="line"></i>
										<i class="disc"></i>
									</div>
									<div class="timeline-info ml-3 flex-grow-1 flex-shrink-1">
										<div class="timeline-text">
											<div class="d-flex">
												<div class="timeline-time">
													<p class="font-weight-bold mb-0 text-dark">05:40</p>
													<span class="d-block text-muted">Nhà ga 2</span>
												</div>
												<div class="timeline-content">
													<p class="font-weight-bold mb-0 text-dark">Hà Nội (HAN)</p>
													<span class="d-block text-muted">Sân bay quốc tế Nội Bài</span>
												</div>
											</div>
										</div>
										<div class="timeline-duration my-3 text-muted">
											<i class="fal fa-clock"></i>
											2 giờ 5 phút
										</div>
										<div class="timeline-text">
											<div class="d-flex align-items-end">
												<div class="timeline-time">
													<p class="font-weight-bold mb-0 text-dark">07:45</p>
													<span class="d-block text-muted">Nhà ga 1</span>
												</div>
												<div class="timeline-content">
													<p class="font-weight-bold mb-0 text-dark">Tp. Hồ Chí Minh ( SGN )
													</p>
													<span class="d-block text-muted">Sân bay quốc tế Tân Sơn Nhất</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-sidebar_item card-sidebar_order card position-sticky bg-white card-flight--price">
							<div class="card-header">
								<div class="card-title">
									Giá cả chi tiết
								</div>
							</div>
							<div class="card-body">
								<div class="card-flight--price---info">
									<div class="card-subtext d-flex align-items-center justify-content-between">
										<div class="font-weight-bold text-dark">
											Khởi hành (HAN <i class="fal fa-long-arrow-right"></i> SGN)
										</div>
										<div class="font-weight-bold text-dark">
											666.302 <sup>đ</sup>
										</div>
									</div>
									<div class="card-subtext d-flex align-items-center justify-content-between">
										<div class="text-muted">
											Người lớn x1
										</div>
										<div class="text-muted">
											199.000 <sup>đ</sup>
										</div>
									</div>
									<div class="card-subtext d-flex align-items-center justify-content-between">
										<div class="text-muted">
											Thuế
										</div>
										<div class="text-muted">
											480.900 <sup>đ</sup>
										</div>
									</div>
									<div class="card-subtext d-flex align-items-center justify-content-between">
										<div class="text-muted">
											Giảm giá
										</div>
										<div class="color-red">
											- 13.598 <sup>đ</sup>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<span>Giá tổng cộng</span>
								<span class="price">666.302 <sup>đ</sup></span>
							</div>
						</div>
						<div class="card-sidebar_item card-sidebar_order card bg-white card-flight">
							<div class="card-header">
								<div class="card-title">
									Voucher/Khuyến mãi
								</div>
							</div>
							<div class="card-body">
								<form action="" class="form-m1">
									<div class="form-group form-inline">
										<input type="text" class="form-control w-100" placeholder="Nhập mã khuyến mãi">
										<div class="input-group-prepend">
											<button class="btn btn-theme_primary ml-auto">
												Xác nhận
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="card-sidebar_item card-sidebar_order card bg-white card-flight">
							<div class="card-header">
								<div class="card-title">
									Hành khách
								</div>
							</div>
							<div class="card-body">
								<div class="card-detail">
									<ul class="list-unstyled mb-0">
										<li class="py-1 d-flex align-items-center justify-content-between">
											<span class="font-weight-bold text-dark">1. Mr. Nguyễn Văn A</span>
											<span class="text-muted">Người lớn</span>
										</li>
										<li class="py-1 d-flex align-items-center justify-content-between">
											<span class="font-weight-bold text-dark">2. Mr. Nguyễn Văn B</span>
											<span class="text-muted">Người lớn</span>
										</li>
										<li class="py-1 d-flex align-items-center justify-content-between">
											<span class="font-weight-bold text-dark">3. Mrs. Nguyễn Thị C</span>
											<span class="text-muted">Trẻ em</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer id=" footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 my-4">
				<div class="footer-item">
					<div class="font-weight-bold footer-item_name">
						CTY TNHH THANH TOÁN TRỰC TUYẾN GT1S
					</div>
					<div class="footer-item_text">
						Chuyên mua bán thẻ cào giá rẻ, thanh toán K+, tiền điện,
						nước Nạp Tuop Carot, nhận tăng sub,
						like facebook, GDTG, đổi tiền
					</div>
				</div>
			</div>
			<div class="col-md-3 col-6 my-4">
				<div class="footer-item">
					<div class="footer-item_title">
						Dịch vụ của CEO
					</div>
					<div class="footer-item_list">
						<ul class="list-unstyled mb-0">
							<li>
								<a href="">Web gạch card: Gachthe1s.com</a>
							</li>
							<li>
								<a href="https://admingt1s.vn/">Admingt1s.vn</a>
							</li>
							<li>
								<a href="https://subgt1s.com/">Web sub:
															   Subgt1s.com</a>
							</li>
							<li>
								<a href="https://nickgt1s.com/">Web bán nick:
																Nickgt1s.com</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-6 my-4">
				<div class="footer-item">
					<div class="footer-item_title">
						Liên hệ
					</div>
					<div class="footer-item_list">
						<ul class="list-unstyled mb-0">
							<li>
								<a href="#">Thời gian làm việc: 08h-23h</a>
							</li>
							<li>
								<a href="https://www.facebook.com/vanluctrunggianuytin">Facebook
																						chính:
																						Nguyễn
																						Văn
																						Lực
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/vanluctrumgdtg/">Facebook
																				   phụ:
																				   Văn
																				   Lực</a>
							</li>
							<li>
								<a href="https://www.facebook.com/CSKHGachthe1s">Fanpage:
																				 Gachthe1s.com</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 my-4">
				<div class="footer-item">
					<div class="footer-item_title">
						Liên hệ
					</div>
					<div class="footer-item_info">
						<p>
							<i class="fas fa-phone-alt"></i>
							0842.271.271
						</p>
						<p>
							<i class="fas fa-envelope"></i>
							hotro.gachthe1s@gmail.com
						</p>
						<p class="mt-3 d-flex align-items-center justify-content-start footer-item_info__social">
							<a href="https://www.facebook.com/van.luc.52687506/"
							   class="facebook">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="" class="google">
								<i class="fab fa-google-plus-g"></i>
							</a>
							<a href="" class="twitter">
								<i class="fab fa-twitter"></i>
							</a>
							<a href="" class="youtube">
								<i class="fab fa-youtube"></i>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-6 pt-1">
					<a href="#" class="footer-bottom_copyright">© Software by Văn
																Lực.,</a>
				</div>
				<div class="col-6">
					<div class="footer-dropdown d-flex align-items-center justify-content-end">
						<div class="dropdown dropdown-wrap ml-2">
							<button class="btn btn-dropdown dropdown-toggle"
									type="button" id="dropdownLanguage"
									data-toggle="dropdown" aria-expanded="false">
								<i class="fas fa-globe"></i>
								<span>Tiếng Việt</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right"
								 aria-labelledby="dropdownLanguage">
								<a class="dropdown-item " href="">English</a>
								<a class="dropdown-item active " href="">Tiếng
																		 Việt
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script type=" text/javascript" src="../assets/plugins/jquery.min.js"></script>
<script type="text/javascript"
		src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"
		src="../assets/plugins/bootstrap-flatpickr/bootstrap-flatpickr.js"></script>
<script type="text/javascript"
		src="../assets/plugins/bootstrap-flatpickr/bootstrap-flatpickr-vn.js"></script>
<script type="text/javascript"
		src="../assets/plugins/select2/js/select2.min.js"></script>
<script type="text/javascript"
		src="../assets/plugins/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="../assets/js/app.js"></script>
</body>
</html>