<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Clone thẻ siêu rẻ</title>
    <meta name="description" content="Clone thẻ siêu rẻ">
    <meta name="author" content="">

    <meta property="og:title" content="Clone thẻ siêu rẻ">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:description" content="Checkscam - Trang chủ">
    <meta property="og:image" content="">

    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="apple-touch-icon" href="/assets/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/plugins/bootstrap-flatpickr/bootstrap-flatpickr.min.css">
	<link rel="stylesheet" href="../assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <style>
        :root {
            --primary-color: #013290;
            --primary-hover: #0c2a6b;
            --primary-rgb: 1, 36, 103;
        }
    </style>
</head>

<body>
<header id="header-m1" class="header-m1">
    <div class="container d-flex align-items-center flex-lg-wrap">
        <div class="header-hamburger" id="call-navigation">
            <span></span>
        </div>
        <a class="header-logo" href="https://thesieure.com">
            <img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png" height="40px"
                 class="img-fluid" alt="">
        </a>
        <div class="header-navigation">
            <ul class="list-unstyled mb-0">
                <li class="d-lg-none d-inline-block navigation-logo text-center">
                    <a href="https://thesieure.com">
                        <img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png" height="40px"
                             class="img-fluid" alt="">
                    </a>
                </li>
                <li class="d-inline-block">
                    <a href="../template/index.html">
                        Trang chủ
                    </a>
                </li>
                <li class="d-inline-block hasSub">
                    <a href="javascript:void(0)">
                        Modules
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <ul class="list-unstyled mb-0">
                        <li class="d-block">
                            <a href="../forms.html">Forms</a>
                        </li>
                        <li class="d-block">
                            <a href="../tables.html">Tables</a>
                        </li>
                        <li class="d-block">
                            <a href="../tabs.html">Tabs</a>
                        </li>
                        <li class="d-block">
                            <a href="../modals-buttons.html">Modals & Buttons</a>
                        </li>
                        <li class="d-block">
                            <a href="../cards.html">Cards</a>
                        </li>
                        <li class="d-block">
                            <a href="../articles.html">Articles</a>
                        </li>
                        <li class="d-block">
                            <a href="../headers.html">Header</a>
                        </li>
                        <li class="d-block">
                            <a href="../label.html">Lables</a>
                        </li>
                        <li class="d-block">
                            <a href="../alerts-heading.html">Alerts & Heading</a>
                        </li>
						<li class="d-block">
							<a href="../module-ve.html">Module Vé</a>
						</li>
                    </ul>
                    <span class="sub-icon">+</span>
                </li>
                <li class="d-inline-block hasSub">
                    <a href="javascript:void(0)">
                        Tin tức
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <ul class="list-unstyled mb-0">
                        <li class="d-block">
                            <a href="../template/danh-muc-tin-tuc.html">Danh mục</a>
                        </li>
                        <li class="d-block">
                            <a href="../template/chi-tiet-tin-tuc.html">Chi tiết</a>
                        </li>
                    </ul>
                    <span class="sub-icon">+</span>
                </li>
                <li class="d-inline-block hasSub">
                    <a href="javascript:void(0)">
                        Thẻ cào
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <ul class="list-unstyled mb-0">
                        <li class="d-block">
                            <a href="../template/danh-muc-the-cao.html">Danh mục</a>
                        </li>
                        <li class="d-block">
                            <a href="../template/mua-ma-the-style1.html">Chi tiết</a>
                        </li>
                    </ul>
                    <span class="sub-icon">+</span>
                </li>
                <li class="d-inline-block">
                    <a href="../template/nap-topup.html">
                        Topup
                    </a>
                </li>
				<li class="d-inline-block hasSub">
					<a href="javascript:void(0)">
						Thao tác
						<i class="fas fa-caret-down"></i>
					</a>
					<ul class="list-unstyled mb-0">
						<li class="d-block">
							<a href="../template/chuyen-tien.html">
								Chuyển tiền
							</a>
						</li>
						<li class="d-block">
							<a href="../template/nap-tien.html">
								Nạp tiền
							</a>
						</li>
						<li class="d-block">
							<a href="../template/rut-tien.html">
								Rút tiền
							</a>
						</li>
					</ul>
					<span class="sub-icon">+</span>
				</li>
				<li class="d-inline-block">
					<a href="../template/ve.html">
						Vé
					</a>
				</li>
            </ul>
        </div>
        <div class="header-user">
            <div class="header-nologin">
                <a href="../template/dang-ky.html" class="btn btn-small btn-register">
                    <i class="fas fa-user"></i> Đăng ký
                </a>
                <a href="../template/dang-nhap.html" class="btn btn-small btn-login">
                    <i class="fas fa-lock"></i> Đăng nhập
                </a>
            </div>
            <!--
            <div class="header-login">
                <ul class="list-unstyled mb-0">
                    <li class="d-inline-block">
                        <i class="fas fa-wallet mr-1"></i>
                        Số dư: <b>0đ</b>
                    </li>
                    <li class="d-inline-block">
                        <a href="../template/thong-tin-tai-khoan.html">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Tấn
                        </a>
                        <ul class="list-unstyled mb-0">
                            <li class="d-block">
                                <a href="../template/dang-ky.html">
                                    <i class="fa fa-angle-right"></i> <strong>Đăng ký</strong>
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="../template/dang-nhap.html">
                                    <i class="fa fa-angle-right"></i> <strong>Đăng nhập</strong>
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="../template/thong-tin-tai-khoan.html">
                                    <i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="../template/thong-tin-tai-khoan.html">
                                    <i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="../template/thong-tin-tai-khoan.html">
                                    <i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="../template/thong-tin-tai-khoan.html">
                                    <i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="../template/thong-tin-tai-khoan.html">
                                    <i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            -->
        </div>
        <div class="header-usermb">
            <button type="button" class="btn" id="call-userMB">
                <i class="fas fa-user"></i>
                Tài khoản
            </button>
            <div class="header-usermb_list">
                <ul class="list-unstyled mb-0">
                    <li class="d-inline-block text-center header-usermb_list__logo">
                        <a href="https://thesieure.com">
                            <img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png"
                                 height="40px"
                                 class="img-fluid" alt="">
                        </a>
                    </li>
                    <li class="d-inline-block header-usermb_list__title">
                        <i class="fas fa-wallet mr-1"></i>
                        Số dư: <b>0đ</b>
                    </li>
                    <li class="d-inline-block">
                        <a href="../template/thong-tin-tai-khoan.html">
                            <i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a href="../template/thong-tin-tai-khoan.html">
                            <i class="fa fa-angle-right"></i> <strong>Nạp thẻ</strong>
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a href="../template/thong-tin-tai-khoan.html">
                            <i class="fa fa-angle-right"></i> <strong>Đăng ký tài khoản</strong>
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a href="../template/thong-tin-tai-khoan.html">
                            <i class="fa fa-angle-right"></i> <strong>Đăng nhập</strong>
                        </a>
                    </li>
                    <li class="d-inline-block">
                        <a href="../template/thong-tin-tai-khoan.html">
                            <i class="fa fa-angle-right"></i> <strong>Quên mật khẩu</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-overlay" id="header-overlay"></div>
</header>

<div class="main">
    <div class="section-breadcrumb">
        <div class="container">
            <ol class="breadcrumb bg-transparent rounded-0 mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="#">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Nạp topup</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="section-gap">
        <div class="container">
            <div class="information-inner">
                <div class="card rounded-sm bg-white">
                    <div class="card-header bg-transparent rounded-0 border-0">
                        <div class="heading-m1">
                            <div class="title">
                                Thông tin tài khoản
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="information-view" id="informationView">
                            <div class="information-list">
                                <div class="row no-gutters pb-3 mb-3">
                                    <div class="col-5 col-md-4">
                                        Tên đăng nhập
                                    </div>
                                    <div class="col-7 text-right text-md-left col-md-8">
                                        <b>abcxyz@gmail.com</b>
                                    </div>
                                </div>
                                <div class="row no-gutters pb-3 mb-3">
                                    <div class="col-5 col-md-4">
                                        Họ và tên:
                                    </div>
                                    <div class="col-7 text-right text-md-left col-md-8">
                                        <b>Hoàng Tấn</b>
                                    </div>
                                </div>
                                <div class="row no-gutters pb-3 mb-3">
                                    <div class="col-5 col-md-4">
                                        Email
                                    </div>
                                    <div class="col-7 text-right text-md-left col-md-8">
                                        <b>abcxyz@gmail.com</b>
                                    </div>
                                </div>
                                <div class="row no-gutters pb-3 mb-3">
                                    <div class="col-5 col-md-4">
                                        Nhóm
                                    </div>
                                    <div class="col-7 text-right text-md-left col-md-8">
                                        <b>Thành viên</b>
                                    </div>
                                </div>
                                <div class="row no-gutters pb-3 mb-3">
                                    <div class="col-5 col-md-4">
                                        Xác thực điện thoại:
                                    </div>
                                    <div class="col-7 text-right text-md-left col-md-8">
                                        <label for="" class="badge badge-danger badge-module mb-0">
                                            Chưa xác thực
                                        </label>
                                    </div>
                                </div>
                                <div class="row no-gutters pb-3 mb-3">
                                    <div class="col-5 col-md-4">
                                        Xác thực Email:
                                    </div>
                                    <div class="col-7 text-right text-md-left col-md-8">
                                        <label for="" class="badge badge-success badge-module mb-0">
                                            Đã xác thực
                                        </label>
                                    </div>
                                </div>
                                <div class="row no-gutters pb-3 mb-3">
                                    <div class="col-5 col-md-4">
                                        Xác thực giấy tờ:
                                    </div>
                                    <div class="col-7 text-right text-md-left col-md-8">
                                        <label for="" class="badge badge-warning badge-module mb-0">
                                            Đang xác thực
                                        </label>
                                    </div>
                                </div>
                                <div class="row no-gutters pb-3 mb-3">
                                    <div class="col-5 col-md-4">
                                        Ngày đăng ký:
                                    </div>
                                    <div class="col-7 text-right text-md-left col-md-8">
                                        <b>2021-04-14 17:05:11</b>
                                    </div>
                                </div>
                                <div class="row no-gutters pb-3 mb-3">
                                    <div class="col-5 col-md-4">
                                        Ví điện tử:
                                    </div>
                                    <div class="col-7 text-right text-md-left col-md-8">
                                        <b>0032164008</b>
                                        - Số tiền: <b class="text-success">0 <sup>đ</sup></b>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5 pt-4 border-top text-center text-md-left">
                                <button class="btn btn-success btn-default updateInformation"
                                        data-form="0">
                                    Sửa thông
                                    tin
                                </button>
                                <button class="btn btn-secondary btn-default updateInformation"
                                        data-form="1">Đổi mật
                                    khẩu
                                </button>
                            </div>
                        </div>
                        <div class="information-form form-m1" style="display: none" id="informationFrom">
                            <form action="">
                                <div class="row row10">
                                    <div class="col-md-4">
                                        <label for="user" class="mb-3 mb-md-0 font-weight-bold">
                                            Tên đăng nhập
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group mb-0">
                                            <input type="text" readonly class="form-control" id="user"
                                                   placeholder="abcxyz@gmail.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row10">
                                    <div class="col-md-4">
                                        <label for="fullname" class="mb-3 mb-md-0 font-weight-bold">
                                            Họ & tên
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group mb-0">
                                            <input type="text" class="form-control" id="fullname"
                                                   placeholder="Hoàng Tấn">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row10">
                                    <div class="col-md-4">
                                        <label for="email" class="mb-3 mb-md-0 font-weight-bold">
                                            Email đăng nhập
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group mb-0">
                                            <input type="email" readonly class="form-control" id="email"
                                                   placeholder="abcxyz@gmail.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row10">
                                    <div class="col-md-4">
                                        <label for="phone" class="mb-3 mb-md-0 font-weight-bold">
                                            Số điện thoại
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group mb-0">
                                            <input type="tel" class="form-control" id="phone"
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row10">
                                    <div class="col-md-4">
                                        <label for="language" class="mb-3 mb-md-0 font-weight-bold">
                                            Ngôn ngữ
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group mb-0">
                                            <select name="" class="form-control" id="language">
                                                <option value="">--- Chọn ngôn ngữ ---</option>
                                                <option value="">Tiếng việt</option>
                                                <option value="">Tiếng Anh</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row10">
                                    <div class="col-md-4">
                                        <label for="country" class="mb-3 mb-md-0 font-weight-bold">
                                            Quốc gia
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group mb-0">
                                            <select name="" class="form-control" id="country">
                                                <option value="" selected>Việt Nam</option>
                                                <option value="">Nhật Bản</option>
                                                <option value="">Trung Quốc</option>
                                                <option value="">Nhật Bản</option>
                                                <option value="">Trung Quốc</option>
                                                <option value="">Nhật Bản</option>
                                                <option value="">Trung Quốc</option>
                                                <option value="">Nhật Bản</option>
                                                <option value="">Trung Quốc</option>
                                                <option value="">Nhật Bản</option>
                                                <option value="">Trung Quốc</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row10">
                                    <div class="col-md-4">
                                        <label for="password02" class="mb-3 mb-md-0 font-weight-bold">
                                            Mạt khẩu cấp 2
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group mb-0">
                                            <input type="password" class="form-control" id="password02"
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-5 pt-4 border-top text-center text-md-left">
                                    <button class="btn btn-success btn-default">Cập nhật thông tin
                                    </button>
                                    <button type="reset" class="btn btn-secondary btn-default">Nhập
                                        lại
                                    </button>
                                    <button type="button"
                                            class="float-md-right text-muted btn btn-link btn-small updateInformation"
                                            data-form="2">Quay lại
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="information-form form-m1" style="display: none" id="passwordFrom">
                            <form action="">
                                <div class="row row10">
                                    <div class="col-md-4">
                                        <label for="passwordold" class="mb-3 mb-md-0 font-weight-bold">
                                            Mạt khẩu cũ
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group mb-0">
                                            <input type="password" class="form-control" id="passwordold"
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row10">
                                    <div class="col-md-4">
                                        <label for="passwordnew" class="mb-3 mb-md-0 font-weight-bold">
                                            Mật khẩu mới
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group mb-0">
                                            <input type="password" class="form-control" id="passwordnew"
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row10">
                                    <div class="col-md-4">
                                        <label for="confirmpasswordnew" class="mb-3 mb-md-0 font-weight-bold">
                                            Nhập lại mật khẩu mới
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group mb-0">
                                            <input type="password" class="form-control" id="confirmpasswordnew"
                                                   placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-5 pt-4 border-top text-center text-md-left">
                                    <button class="btn btn-success btn-sm template-1-btn">Cập nhật mật khẩu
                                    </button>
                                    <button type="reset" class="btn btn-secondary btn-sm template-1-btn">Nhập
                                        lại
                                    </button>
                                    <button type="button"
                                            class="float-md-right text-muted btn btn-link outline btn-sm updateInformation"
                                            data-form="2">Quay lại
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="loading-pure" style="display: none">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="description mb-3">
                    <div class="sub-title">
                        Lịch sử đăng nhập
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-module">
                        <thead>
                        <tr>
                            <th>IP</th>
                            <th>Ngày tạo</th>
                            <th>Trình duyệt</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><b>14.161.190.91</b></td>
                            <td>2022-09-07 19:43:43</td>
                            <td>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)
                                Chrome/104.0.0.0 Safari/537.36
                            </td>
                        </tr>
                        <tr>
                            <td><b>14.161.190.91</b></td>
                            <td>2022-09-07 19:43:43</td>
                            <td>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)
                                Chrome/104.0.0.0 Safari/537.36
                            </td>
                        </tr>
                        <tr>
                            <td><b>14.161.190.91</b></td>
                            <td>2022-09-07 19:43:43</td>
                            <td>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)
                                Chrome/104.0.0.0 Safari/537.36
                            </td>
                        </tr>
                        <tr>
                            <td><b>14.161.190.91</b></td>
                            <td>2022-09-07 19:43:43</td>
                            <td>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)
                                Chrome/104.0.0.0 Safari/537.36
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 my-4">
                <div class="footer-item">
                    <div class="font-weight-bold footer-item_name">
                        CTY TNHH THANH TOÁN TRỰC TUYẾN GT1S
                    </div>
                    <div class="footer-item_text">
                        Chuyên mua bán thẻ cào giá rẻ, thanh toán K+, tiền điện, nước Nạp Tuop Carot, nhận tăng sub,
                        like facebook, GDTG, đổi tiền
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 my-4">
                <div class="footer-item">
                    <div class="footer-item_title">
                        Dịch vụ của CEO
                    </div>
                    <div class="footer-item_list">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="">Web gạch card: Gachthe1s.com</a>
                            </li>
                            <li>
                                <a href="https://admingt1s.vn/">Admingt1s.vn</a>
                            </li>
                            <li>
                                <a href="https://subgt1s.com/">Web sub: Subgt1s.com</a>
                            </li>
                            <li>
                                <a href="https://nickgt1s.com/">Web bán nick: Nickgt1s.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 my-4">
                <div class="footer-item">
                    <div class="footer-item_title">
                        Liên hệ
                    </div>
                    <div class="footer-item_list">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">Thời gian làm việc: 08h-23h</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/vanluctrunggianuytin">Facebook chính: Nguyễn Văn
                                    Lực
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/vanluctrumgdtg/">Facebook phụ: Văn Lực</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/CSKHGachthe1s">Fanpage: Gachthe1s.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-4">
                <div class="footer-item">
                    <div class="footer-item_title">
                        Liên hệ
                    </div>
                    <div class="footer-item_info">
                        <p>
                            <i class="fas fa-phone-alt"></i>
                            0842.271.271
                        </p>
                        <p>
                            <i class="fas fa-envelope"></i>
                            hotro.gachthe1s@gmail.com
                        </p>
                        <p class="mt-3 d-flex align-items-center justify-content-start footer-item_info__social">
                            <a href="https://www.facebook.com/van.luc.52687506/" class="facebook">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="" class="google">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="" class="twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="" class="youtube">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 pt-1">
                    <a href="#" class="footer-bottom_copyright">© Software by Văn Lực.,</a>
                </div>
                <div class="col-6">
                    <div class="footer-dropdown d-flex align-items-center justify-content-end">
                        <div class="dropdown dropdown-wrap ml-2">
                            <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownLanguage"
                                    data-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-globe"></i>
                                <span>Tiếng Việt</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item " href="">English
                                </a>
                                <a class="dropdown-item active " href="">
                                    Tiếng
                                    Việt
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type=" text/javascript" src="../assets/plugins/jquery.min.js"></script>
<script type="text/javascript"
        src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"
		src="../assets/plugins/bootstrap-flatpickr/bootstrap-flatpickr.js"></script>
<script type="text/javascript"
		src="../assets/plugins/bootstrap-flatpickr/bootstrap-flatpickr-vn.js"></script>
<script type="text/javascript" src="../assets/plugins/select2/js/select2.min.js"></script>
<script type="text/javascript" src="../assets/js/app.js"></script>
</body>
</html>