<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<title>Clone thẻ siêu rẻ</title>
	<meta name="description" content="Clone thẻ siêu rẻ">
	<meta name="author" content="">

	<meta property="og:title" content="Clone thẻ siêu rẻ">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:description" content="Checkscam - Trang chủ">
	<meta property="og:image" content="">

	<link rel="icon" href="/assets/images/favicon.png">
	<link rel="apple-touch-icon" href="/assets/images/favicon.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
	      rel="stylesheet">
	<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/plugins/bootstrap-flatpickr/bootstrap-flatpickr.min.css">
	<link rel="stylesheet" href="../assets/plugins/select2/css/select2.min.css">
	<link rel="stylesheet" href="../assets/plugins/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="../assets/fonts/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="../assets/css/style.css">

	<style>
        :root {
            --primary-color: #013290;
            --primary-hover: #0c2a6b;
            --primary-rgb: 1, 36, 103;
        }
	</style>
</head>

<body>

<div class="modal fade modal-module modal-ticket" id="modalTicket-655" data-length="6" data-ball="55"
     data-form="#random-type_655">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div id="ticket-slider">
					<div class="swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="ticket-popup" data-key="a">
									<div class="ticket-popup_header">
										<div class="ticket-popup_seri">
											A
										</div>
										<div class="ticket-popup_check">
											Không hợp lệ
										</div>
									</div>
									<div class="ticket-popup_body">
										<div class="ticket-popup_numbers">
											<span class="ticket-choose_number">1</span>
											<span class="ticket-choose_number">2</span>
											<span class="ticket-choose_number">3</span>
											<span class="ticket-choose_number">4</span>
											<span class="ticket-choose_number">5</span>
											<span class="ticket-choose_number">6</span>
											<span class="ticket-choose_number">7</span>
											<span class="ticket-choose_number">8</span>
											<span class="ticket-choose_number">9</span>
											<span class="ticket-choose_number">10</span>
											<span class="ticket-choose_number">11</span>
											<span class="ticket-choose_number">12</span>
											<span class="ticket-choose_number">13</span>
											<span class="ticket-choose_number">14</span>
											<span class="ticket-choose_number">15</span>
											<span class="ticket-choose_number">16</span>
											<span class="ticket-choose_number">17</span>
											<span class="ticket-choose_number">18</span>
											<span class="ticket-choose_number">19</span>
											<span class="ticket-choose_number">20</span>
											<span class="ticket-choose_number">21</span>
											<span class="ticket-choose_number">22</span>
											<span class="ticket-choose_number">23</span>
											<span class="ticket-choose_number">24</span>
											<span class="ticket-choose_number">25</span>
											<span class="ticket-choose_number">26</span>
											<span class="ticket-choose_number">27</span>
											<span class="ticket-choose_number">28</span>
											<span class="ticket-choose_number">29</span>
											<span class="ticket-choose_number">30</span>
											<span class="ticket-choose_number">31</span>
											<span class="ticket-choose_number">32</span>
											<span class="ticket-choose_number">33</span>
											<span class="ticket-choose_number">34</span>
											<span class="ticket-choose_number">35</span>
											<span class="ticket-choose_number">36</span>
											<span class="ticket-choose_number">37</span>
											<span class="ticket-choose_number">38</span>
											<span class="ticket-choose_number">39</span>
											<span class="ticket-choose_number">40</span>
											<span class="ticket-choose_number">41</span>
											<span class="ticket-choose_number">42</span>
											<span class="ticket-choose_number">43</span>
											<span class="ticket-choose_number">44</span>
											<span class="ticket-choose_number">45</span>
											<span class="ticket-choose_number">46</span>
											<span class="ticket-choose_number">47</span>
											<span class="ticket-choose_number">48</span>
											<span class="ticket-choose_number">49</span>
											<span class="ticket-choose_number">50</span>
											<span class="ticket-choose_number">51</span>
											<span class="ticket-choose_number">52</span>
											<span class="ticket-choose_number">53</span>
											<span class="ticket-choose_number">54</span>
											<span class="ticket-choose_number">55</span>
										</div>
										<div class="ticket-popup_buttons">
											<button type="button" class="btn btn-sm btn-theme_primary ticket-random">
												Chọn ngẫu nhiên
											</button>
											<button type="button" class="btn btn-sm btn-theme_primary ticket-clear">
												Hủy bộ số
											</button>
										</div>
									</div>
									<div class="ticket-popup_footer">
										<button type="button" class="ticket-popup_close" data-dismiss="modal">
											<i class="fas fa-times"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ticket-popup" data-key="b">
									<div class="ticket-popup_header">
										<div class="ticket-popup_seri">
											B
										</div>
										<div class="ticket-popup_check">
											Không hợp lệ
										</div>
									</div>
									<div class="ticket-popup_body">
										<div class="ticket-popup_numbers">
											<span class="ticket-choose_number">1</span>
											<span class="ticket-choose_number">2</span>
											<span class="ticket-choose_number">3</span>
											<span class="ticket-choose_number">4</span>
											<span class="ticket-choose_number">5</span>
											<span class="ticket-choose_number">6</span>
											<span class="ticket-choose_number">7</span>
											<span class="ticket-choose_number">8</span>
											<span class="ticket-choose_number">9</span>
											<span class="ticket-choose_number">10</span>
											<span class="ticket-choose_number">11</span>
											<span class="ticket-choose_number">12</span>
											<span class="ticket-choose_number">13</span>
											<span class="ticket-choose_number">14</span>
											<span class="ticket-choose_number">15</span>
											<span class="ticket-choose_number">16</span>
											<span class="ticket-choose_number">17</span>
											<span class="ticket-choose_number">18</span>
											<span class="ticket-choose_number">19</span>
											<span class="ticket-choose_number">20</span>
											<span class="ticket-choose_number">21</span>
											<span class="ticket-choose_number">22</span>
											<span class="ticket-choose_number">23</span>
											<span class="ticket-choose_number">24</span>
											<span class="ticket-choose_number">25</span>
											<span class="ticket-choose_number">26</span>
											<span class="ticket-choose_number">27</span>
											<span class="ticket-choose_number">28</span>
											<span class="ticket-choose_number">29</span>
											<span class="ticket-choose_number">30</span>
											<span class="ticket-choose_number">31</span>
											<span class="ticket-choose_number">32</span>
											<span class="ticket-choose_number">33</span>
											<span class="ticket-choose_number">34</span>
											<span class="ticket-choose_number">35</span>
											<span class="ticket-choose_number">36</span>
											<span class="ticket-choose_number">37</span>
											<span class="ticket-choose_number">38</span>
											<span class="ticket-choose_number">39</span>
											<span class="ticket-choose_number">40</span>
											<span class="ticket-choose_number">41</span>
											<span class="ticket-choose_number">42</span>
											<span class="ticket-choose_number">43</span>
											<span class="ticket-choose_number">44</span>
											<span class="ticket-choose_number">45</span>
											<span class="ticket-choose_number">46</span>
											<span class="ticket-choose_number">47</span>
											<span class="ticket-choose_number">48</span>
											<span class="ticket-choose_number">49</span>
											<span class="ticket-choose_number">50</span>
											<span class="ticket-choose_number">51</span>
											<span class="ticket-choose_number">52</span>
											<span class="ticket-choose_number">53</span>
											<span class="ticket-choose_number">54</span>
											<span class="ticket-choose_number">55</span>
										</div>
										<div class="ticket-popup_buttons">
											<button type="button" class="btn btn-sm btn-theme_primary ticket-random">
												Chọn ngẫu nhiên
											</button>
											<button type="button" class="btn btn-sm btn-theme_primary ticket-clear">
												Hủy bộ số
											</button>
										</div>
									</div>
									<div class="ticket-popup_footer">
										<button type="button" class="ticket-popup_close" data-dismiss="modal">
											<i class="fas fa-times"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ticket-popup" data-key="c">
									<div class="ticket-popup_header">
										<div class="ticket-popup_seri">
											C
										</div>
										<div class="ticket-popup_check">
											Không hợp lệ
										</div>
									</div>
									<div class="ticket-popup_body">
										<div class="ticket-popup_numbers">
											<span class="ticket-choose_number">1</span>
											<span class="ticket-choose_number">2</span>
											<span class="ticket-choose_number">3</span>
											<span class="ticket-choose_number">4</span>
											<span class="ticket-choose_number">5</span>
											<span class="ticket-choose_number">6</span>
											<span class="ticket-choose_number">7</span>
											<span class="ticket-choose_number">8</span>
											<span class="ticket-choose_number">9</span>
											<span class="ticket-choose_number">10</span>
											<span class="ticket-choose_number">11</span>
											<span class="ticket-choose_number">12</span>
											<span class="ticket-choose_number">13</span>
											<span class="ticket-choose_number">14</span>
											<span class="ticket-choose_number">15</span>
											<span class="ticket-choose_number">16</span>
											<span class="ticket-choose_number">17</span>
											<span class="ticket-choose_number">18</span>
											<span class="ticket-choose_number">19</span>
											<span class="ticket-choose_number">20</span>
											<span class="ticket-choose_number">21</span>
											<span class="ticket-choose_number">22</span>
											<span class="ticket-choose_number">23</span>
											<span class="ticket-choose_number">24</span>
											<span class="ticket-choose_number">25</span>
											<span class="ticket-choose_number">26</span>
											<span class="ticket-choose_number">27</span>
											<span class="ticket-choose_number">28</span>
											<span class="ticket-choose_number">29</span>
											<span class="ticket-choose_number">30</span>
											<span class="ticket-choose_number">31</span>
											<span class="ticket-choose_number">32</span>
											<span class="ticket-choose_number">33</span>
											<span class="ticket-choose_number">34</span>
											<span class="ticket-choose_number">35</span>
											<span class="ticket-choose_number">36</span>
											<span class="ticket-choose_number">37</span>
											<span class="ticket-choose_number">38</span>
											<span class="ticket-choose_number">39</span>
											<span class="ticket-choose_number">40</span>
											<span class="ticket-choose_number">41</span>
											<span class="ticket-choose_number">42</span>
											<span class="ticket-choose_number">43</span>
											<span class="ticket-choose_number">44</span>
											<span class="ticket-choose_number">45</span>
											<span class="ticket-choose_number">46</span>
											<span class="ticket-choose_number">47</span>
											<span class="ticket-choose_number">48</span>
											<span class="ticket-choose_number">49</span>
											<span class="ticket-choose_number">50</span>
											<span class="ticket-choose_number">51</span>
											<span class="ticket-choose_number">52</span>
											<span class="ticket-choose_number">53</span>
											<span class="ticket-choose_number">54</span>
											<span class="ticket-choose_number">55</span>
										</div>
										<div class="ticket-popup_buttons">
											<button type="button" class="btn btn-sm btn-theme_primary ticket-random">
												Chọn ngẫu nhiên
											</button>
											<button type="button" class="btn btn-sm btn-theme_primary ticket-clear">
												Hủy bộ số
											</button>
										</div>
									</div>
									<div class="ticket-popup_footer">
										<button type="button" class="ticket-popup_close" data-dismiss="modal">
											<i class="fas fa-times"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ticket-popup" data-key="d">
									<div class="ticket-popup_header">
										<div class="ticket-popup_seri">
											D
										</div>
										<div class="ticket-popup_check">
											Không hợp lệ
										</div>
									</div>
									<div class="ticket-popup_body">
										<div class="ticket-popup_numbers">
											<span class="ticket-choose_number">1</span>
											<span class="ticket-choose_number">2</span>
											<span class="ticket-choose_number">3</span>
											<span class="ticket-choose_number">4</span>
											<span class="ticket-choose_number">5</span>
											<span class="ticket-choose_number">6</span>
											<span class="ticket-choose_number">7</span>
											<span class="ticket-choose_number">8</span>
											<span class="ticket-choose_number">9</span>
											<span class="ticket-choose_number">10</span>
											<span class="ticket-choose_number">11</span>
											<span class="ticket-choose_number">12</span>
											<span class="ticket-choose_number">13</span>
											<span class="ticket-choose_number">14</span>
											<span class="ticket-choose_number">15</span>
											<span class="ticket-choose_number">16</span>
											<span class="ticket-choose_number">17</span>
											<span class="ticket-choose_number">18</span>
											<span class="ticket-choose_number">19</span>
											<span class="ticket-choose_number">20</span>
											<span class="ticket-choose_number">21</span>
											<span class="ticket-choose_number">22</span>
											<span class="ticket-choose_number">23</span>
											<span class="ticket-choose_number">24</span>
											<span class="ticket-choose_number">25</span>
											<span class="ticket-choose_number">26</span>
											<span class="ticket-choose_number">27</span>
											<span class="ticket-choose_number">28</span>
											<span class="ticket-choose_number">29</span>
											<span class="ticket-choose_number">30</span>
											<span class="ticket-choose_number">31</span>
											<span class="ticket-choose_number">32</span>
											<span class="ticket-choose_number">33</span>
											<span class="ticket-choose_number">34</span>
											<span class="ticket-choose_number">35</span>
											<span class="ticket-choose_number">36</span>
											<span class="ticket-choose_number">37</span>
											<span class="ticket-choose_number">38</span>
											<span class="ticket-choose_number">39</span>
											<span class="ticket-choose_number">40</span>
											<span class="ticket-choose_number">41</span>
											<span class="ticket-choose_number">42</span>
											<span class="ticket-choose_number">43</span>
											<span class="ticket-choose_number">44</span>
											<span class="ticket-choose_number">45</span>
											<span class="ticket-choose_number">46</span>
											<span class="ticket-choose_number">47</span>
											<span class="ticket-choose_number">48</span>
											<span class="ticket-choose_number">49</span>
											<span class="ticket-choose_number">50</span>
											<span class="ticket-choose_number">51</span>
											<span class="ticket-choose_number">52</span>
											<span class="ticket-choose_number">53</span>
											<span class="ticket-choose_number">54</span>
											<span class="ticket-choose_number">55</span>
										</div>
										<div class="ticket-popup_buttons">
											<button type="button" class="btn btn-sm btn-theme_primary ticket-random">
												Chọn ngẫu nhiên
											</button>
											<button type="button" class="btn btn-sm btn-theme_primary ticket-clear">
												Hủy bộ số
											</button>
										</div>
									</div>
									<div class="ticket-popup_footer">
										<button type="button" class="ticket-popup_close" data-dismiss="modal">
											<i class="fas fa-times"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ticket-popup" data-key="e">
									<div class="ticket-popup_header">
										<div class="ticket-popup_seri">
											E
										</div>
										<div class="ticket-popup_check">
											Không hợp lệ
										</div>
									</div>
									<div class="ticket-popup_body">
										<div class="ticket-popup_numbers">
											<span class="ticket-choose_number">1</span>
											<span class="ticket-choose_number">2</span>
											<span class="ticket-choose_number">3</span>
											<span class="ticket-choose_number">4</span>
											<span class="ticket-choose_number">5</span>
											<span class="ticket-choose_number">6</span>
											<span class="ticket-choose_number">7</span>
											<span class="ticket-choose_number">8</span>
											<span class="ticket-choose_number">9</span>
											<span class="ticket-choose_number">10</span>
											<span class="ticket-choose_number">11</span>
											<span class="ticket-choose_number">12</span>
											<span class="ticket-choose_number">13</span>
											<span class="ticket-choose_number">14</span>
											<span class="ticket-choose_number">15</span>
											<span class="ticket-choose_number">16</span>
											<span class="ticket-choose_number">17</span>
											<span class="ticket-choose_number">18</span>
											<span class="ticket-choose_number">19</span>
											<span class="ticket-choose_number">20</span>
											<span class="ticket-choose_number">21</span>
											<span class="ticket-choose_number">22</span>
											<span class="ticket-choose_number">23</span>
											<span class="ticket-choose_number">24</span>
											<span class="ticket-choose_number">25</span>
											<span class="ticket-choose_number">26</span>
											<span class="ticket-choose_number">27</span>
											<span class="ticket-choose_number">28</span>
											<span class="ticket-choose_number">29</span>
											<span class="ticket-choose_number">30</span>
											<span class="ticket-choose_number">31</span>
											<span class="ticket-choose_number">32</span>
											<span class="ticket-choose_number">33</span>
											<span class="ticket-choose_number">34</span>
											<span class="ticket-choose_number">35</span>
											<span class="ticket-choose_number">36</span>
											<span class="ticket-choose_number">37</span>
											<span class="ticket-choose_number">38</span>
											<span class="ticket-choose_number">39</span>
											<span class="ticket-choose_number">40</span>
											<span class="ticket-choose_number">41</span>
											<span class="ticket-choose_number">42</span>
											<span class="ticket-choose_number">43</span>
											<span class="ticket-choose_number">44</span>
											<span class="ticket-choose_number">45</span>
											<span class="ticket-choose_number">46</span>
											<span class="ticket-choose_number">47</span>
											<span class="ticket-choose_number">48</span>
											<span class="ticket-choose_number">49</span>
											<span class="ticket-choose_number">50</span>
											<span class="ticket-choose_number">51</span>
											<span class="ticket-choose_number">52</span>
											<span class="ticket-choose_number">53</span>
											<span class="ticket-choose_number">54</span>
											<span class="ticket-choose_number">55</span>
										</div>
										<div class="ticket-popup_buttons">
											<button type="button" class="btn btn-sm btn-theme_primary ticket-random">
												Chọn ngẫu nhiên
											</button>
											<button type="button" class="btn btn-sm btn-theme_primary ticket-clear">
												Hủy bộ số
											</button>
										</div>
									</div>
									<div class="ticket-popup_footer">
										<button type="button" class="ticket-popup_close" data-dismiss="modal">
											<i class="fas fa-times"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ticket-popup" data-key="f">
									<div class="ticket-popup_header">
										<div class="ticket-popup_seri">
											F
										</div>
										<div class="ticket-popup_check">
											Không hợp lệ
										</div>
									</div>
									<div class="ticket-popup_body">
										<div class="ticket-popup_numbers">
											<span class="ticket-choose_number">1</span>
											<span class="ticket-choose_number">2</span>
											<span class="ticket-choose_number">3</span>
											<span class="ticket-choose_number">4</span>
											<span class="ticket-choose_number">5</span>
											<span class="ticket-choose_number">6</span>
											<span class="ticket-choose_number">7</span>
											<span class="ticket-choose_number">8</span>
											<span class="ticket-choose_number">9</span>
											<span class="ticket-choose_number">10</span>
											<span class="ticket-choose_number">11</span>
											<span class="ticket-choose_number">12</span>
											<span class="ticket-choose_number">13</span>
											<span class="ticket-choose_number">14</span>
											<span class="ticket-choose_number">15</span>
											<span class="ticket-choose_number">16</span>
											<span class="ticket-choose_number">17</span>
											<span class="ticket-choose_number">18</span>
											<span class="ticket-choose_number">19</span>
											<span class="ticket-choose_number">20</span>
											<span class="ticket-choose_number">21</span>
											<span class="ticket-choose_number">22</span>
											<span class="ticket-choose_number">23</span>
											<span class="ticket-choose_number">24</span>
											<span class="ticket-choose_number">25</span>
											<span class="ticket-choose_number">26</span>
											<span class="ticket-choose_number">27</span>
											<span class="ticket-choose_number">28</span>
											<span class="ticket-choose_number">29</span>
											<span class="ticket-choose_number">30</span>
											<span class="ticket-choose_number">31</span>
											<span class="ticket-choose_number">32</span>
											<span class="ticket-choose_number">33</span>
											<span class="ticket-choose_number">34</span>
											<span class="ticket-choose_number">35</span>
											<span class="ticket-choose_number">36</span>
											<span class="ticket-choose_number">37</span>
											<span class="ticket-choose_number">38</span>
											<span class="ticket-choose_number">39</span>
											<span class="ticket-choose_number">40</span>
											<span class="ticket-choose_number">41</span>
											<span class="ticket-choose_number">42</span>
											<span class="ticket-choose_number">43</span>
											<span class="ticket-choose_number">44</span>
											<span class="ticket-choose_number">45</span>
											<span class="ticket-choose_number">46</span>
											<span class="ticket-choose_number">47</span>
											<span class="ticket-choose_number">48</span>
											<span class="ticket-choose_number">49</span>
											<span class="ticket-choose_number">50</span>
											<span class="ticket-choose_number">51</span>
											<span class="ticket-choose_number">52</span>
											<span class="ticket-choose_number">53</span>
											<span class="ticket-choose_number">54</span>
											<span class="ticket-choose_number">55</span>
										</div>
										<div class="ticket-popup_buttons">
											<button type="button" class="btn btn-sm btn-theme_primary ticket-random">
												Chọn ngẫu nhiên
											</button>
											<button type="button" class="btn btn-sm btn-theme_primary ticket-clear">
												Hủy bộ số
											</button>
										</div>
									</div>
									<div class="ticket-popup_footer">
										<button type="button" class="ticket-popup_close" data-dismiss="modal">
											<i class="fas fa-times"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<header id="header-m1" class="header-m1">
	<div class="container d-flex align-items-center flex-lg-wrap">
		<div class="header-hamburger" id="call-navigation">
			<span></span>
		</div>
		<a class="header-logo" href="https://thesieure.com">
			<img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png" height="40px"
			     class="img-fluid" alt="">
		</a>
		<div class="header-navigation">
			<ul class="list-unstyled mb-0">
				<li class="d-lg-none d-inline-block navigation-logo text-center">
					<a href="https://thesieure.com">
						<img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png" height="40px"
						     class="img-fluid" alt="">
					</a>
				</li>
				<li class="d-inline-block">
					<a href="../template/index.html">
						Trang chủ
					</a>
				</li>
				<li class="d-inline-block hasSub">
					<a href="javascript:void(0)">
						Modules
						<i class="fas fa-caret-down"></i>
					</a>
					<ul class="list-unstyled mb-0">
						<li class="d-block">
							<a href="../forms.html">Forms</a>
						</li>
						<li class="d-block">
							<a href="../banner.html">Banner</a>
						</li>
						<li class="d-block">
							<a href="../tables.html">Tables</a>
						</li>
						<li class="d-block">
							<a href="../tabs.html">Tabs</a>
						</li>
						<li class="d-block">
							<a href="../modals-buttons.html">Modals & Buttons</a>
						</li>
						<li class="d-block">
							<a href="../cards.html">Cards</a>
						</li>
						<li class="d-block">
							<a href="../articles.html">Articles</a>
						</li>
						<li class="d-block">
							<a href="../headers.html">Header</a>
						</li>
						<li class="d-block">
							<a href="../label.html">Lables</a>
						</li>
						<li class="d-block">
							<a href="../alerts-heading.html">Alerts & Heading</a>
						</li>
						<li class="d-block">
							<a href="../module-ve.html">Module Vé</a>
						</li>
					</ul>
					<span class="sub-icon">+</span>
				</li>
				<li class="d-inline-block hasSub">
					<a href="javascript:void(0)">
						Tin tức
						<i class="fas fa-caret-down"></i>
					</a>
					<ul class="list-unstyled mb-0">
						<li class="d-block">
							<a href="../template/danh-muc-tin-tuc.html">Danh mục</a>
						</li>
						<li class="d-block">
							<a href="../template/chi-tiet-tin-tuc.html">Chi tiết</a>
						</li>
					</ul>
					<span class="sub-icon">+</span>
				</li>
				<li class="d-inline-block hasSub">
					<a href="javascript:void(0)">
						Thẻ cào
						<i class="fas fa-caret-down"></i>
					</a>
					<ul class="list-unstyled mb-0">
						<li class="d-block">
							<a href="../template/danh-muc-the-cao.html">Danh mục</a>
						</li>
						<li class="d-block">
							<a href="../template/mua-ma-the-style1.html">Chi tiết</a>
						</li>
					</ul>
					<span class="sub-icon">+</span>
				</li>
				<li class="d-inline-block">
					<a href="../template/nap-topup.html">
						Topup
					</a>
				</li>
				<li class="d-inline-block hasSub">
					<a href="javascript:void(0)">
						Thao tác
						<i class="fas fa-caret-down"></i>
					</a>
					<ul class="list-unstyled mb-0">
						<li class="d-block">
							<a href="../template/chuyen-tien.html">
								Chuyển tiền
							</a>
						</li>
						<li class="d-block">
							<a href="../template/nap-tien.html">
								Nạp tiền
							</a>
						</li>
						<li class="d-block">
							<a href="../template/rut-tien.html">
								Rút tiền
							</a>
						</li>
					</ul>
					<span class="sub-icon">+</span>
				</li>
				<li class="d-inline-block">
					<a href="../template/ve.html">
						Vé
					</a>
				</li>
			</ul>
		</div>
		<div class="header-user">
			<div class="header-nologin">
				<a href="../template/dang-ky.html" class="btn btn-small btn-register">
					<i class="fas fa-user"></i> Đăng ký
				</a>
				<a href="../template/dang-nhap.html" class="btn btn-small btn-login">
					<i class="fas fa-lock"></i> Đăng nhập
				</a>
			</div>
			<!--
			<div class="header-login">
				<ul class="list-unstyled mb-0">
					<li class="d-inline-block">
						<i class="fas fa-wallet mr-1"></i>
						Số dư: <b>0đ</b>
					</li>
					<li class="d-inline-block">
						<a href="../template/thong-tin-tai-khoan.html">
							<i class="fa fa-user" aria-hidden="true"></i>
							Tấn
						</a>
						<ul class="list-unstyled mb-0">
							<li class="d-block">
								<a href="../template/dang-ky.html">
									<i class="fa fa-angle-right"></i> <strong>Đăng ký</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="../template/dang-nhap.html">
									<i class="fa fa-angle-right"></i> <strong>Đăng nhập</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="../template/thong-tin-tai-khoan.html">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="../template/thong-tin-tai-khoan.html">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="../template/thong-tin-tai-khoan.html">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="../template/thong-tin-tai-khoan.html">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
							<li class="d-block">
								<a href="../template/thong-tin-tai-khoan.html">
									<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			-->
		</div>
		<div class="header-usermb">
			<button type="button" class="btn" id="call-userMB">
				<i class="fas fa-user"></i>
				Tài khoản
			</button>
			<div class="header-usermb_list">
				<ul class="list-unstyled mb-0">
					<li class="d-inline-block text-center header-usermb_list__logo">
						<a href="https://thesieure.com">
							<img src="https://thesieure.com/storage/userfiles/images/logo_thesieurecom.png"
							     height="40px"
							     class="img-fluid" alt="">
						</a>
					</li>
					<li class="d-inline-block header-usermb_list__title">
						<i class="fas fa-wallet mr-1"></i>
						Số dư: <b>0đ</b>
					</li>
					<li class="d-inline-block">
						<a href="../template/thong-tin-tai-khoan.html">
							<i class="fa fa-angle-right"></i> <strong>Thông tin tài khoản</strong>
						</a>
					</li>
					<li class="d-inline-block">
						<a href="../template/thong-tin-tai-khoan.html">
							<i class="fa fa-angle-right"></i> <strong>Nạp thẻ</strong>
						</a>
					</li>
					<li class="d-inline-block">
						<a href="../template/thong-tin-tai-khoan.html">
							<i class="fa fa-angle-right"></i> <strong>Đăng ký tài khoản</strong>
						</a>
					</li>
					<li class="d-inline-block">
						<a href="../template/thong-tin-tai-khoan.html">
							<i class="fa fa-angle-right"></i> <strong>Đăng nhập</strong>
						</a>
					</li>
					<li class="d-inline-block">
						<a href="../template/thong-tin-tai-khoan.html">
							<i class="fa fa-angle-right"></i> <strong>Quên mật khẩu</strong>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header-overlay" id="header-overlay"></div>
</header>

<div class="main">
	<div class="section-breadcrumb">
		<div class="container">
			<ol class="breadcrumb bg-transparent rounded-0 mb-0 p-0">
				<li class="breadcrumb-item">
					<a href="#">Trang chủ</a>
				</li>
				<li class="breadcrumb-item">
					<a href="#">Vietlott 6/55</a>
				</li>
			</ol>
		</div>
	</div>
	<div class="section-gap page-result">
		<div class="container">
			<div class="description mb-5">
				<div class="title text-center">
					Mua hộ vé Vietlott 6/55
				</div>
			</div>
			<div class="row row10">
				<div class="col-lg-5 col-md-6">
					<div class="random-card card result-6-55">
						<div class="card-header">
							Chọn vé Vietlott 6/55
						</div>
						<div class="card-body">
							<div class="random-wrap position-relative">
								<form action="" data-type="v-6" id="random-type_655">
									<div class="random-dropdown">
										<div class="dropdown dropdown-type handleDropdownType">
											<div type="button" class="dropdown-toggle"
											     data-toggle="dropdown">
												<i class="fas fa-ticket-alt"></i>
												<span>Vé thường</span>
											</div>
											<div class="dropdown-menu">
												<div class="dropdown-header">
													Chọn cách chơi
												</div>
												<div class="dropdown-list">
													<a href="javascript:void(0)" class="dropdown-list_item active"
													   data-ball="6"
													   data-price="10000">
														Vé thường
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-ball="5"
													   data-price="500000">
														Bao 5
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-ball="7"
													   data-price="70000">
														Bao 7
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-ball="8"
													   data-price="28000">
														Bao 8
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-ball="9"
													   data-price="840000">
														Bao 9
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-ball="10"
													   data-price="2100000">
														Bao 10
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-ball="11"
													   data-price="4620000">
														Bao 11
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-ball="12"
													   data-price="9240000">
														Bao 12
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-ball="13"
													   data-price="17160000">
														Bao 13
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-ball="14"
													   data-price="30030000">
														Bao 14
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-ball="15"
													   data-price="50050000">
														Bao 15
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-ball="18"
													   data-price="185640000">
														Bao 18
													</a>
												</div>
											</div>
										</div>
										<div class="dropdown dropdown-time handleDropdownTime">
											<div type="button" class="dropdown-toggle"
											     data-toggle="dropdown">
												<i class="fas fa-calendar-alt"></i>
												<span>#00800 - 10/11/2022</span>
												<input type="hidden" class="random-time" name="times[]" value="00800">
											</div>
											<div class="dropdown-menu dropdown-menu-right">
												<div class="dropdown-header">
													Chọn kỳ mua
												</div>
												<div class="dropdown-list">
													<a href="javascript:void(0)" class="dropdown-list_item active"
													   data-time="00800">
														#00800 - 10/11/2022
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-time="00801">
														#00801 - 12/11/2022
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-time="00802">
														#00802 - 15/11/2022
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-time="00803">
														#00803 - 17/11/2022
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-time="00804">
														#00804 - 19/11/2022
													</a>
													<a href="javascript:void(0)" class="dropdown-list_item"
													   data-time="00805">
														#00805 - 22/11/2022
													</a>
												</div>
												<div class="dropdown-footer">
													<button type="button"
													        class="handleDropdownClose btn btn-small btn-theme_primary">
														Xác nhận
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="random-body">
										<div data-index="0" data-key="a"
										     class="random-item random-box d-flex align-items-center justify-content-between">
											<div class="random-position random-circle">
												A
											</div>
											<div class="random-list d-flex align-items-center">
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_a[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_a[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_a[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_a[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_a[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_a[]">
												</span>
											</div>
											<div class="random-action random-circle">
												<a href="javascript:void(0)" class="random-button random-event">
													<i class="fas fa-sync-alt"></i>
												</a>
											</div>
										</div>
										<div data-index="1" data-key="b"
										     class="random-item random-box d-flex align-items-center justify-content-between">
											<div class="random-position random-circle">
												B
											</div>
											<div class="random-list d-flex align-items-center">
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_b[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_b[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_b[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_b[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_b[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_b[]">
												</span>
											</div>
											<div class="random-action random-circle">
												<a href="javascript:void(0)" class="random-button random-event">
													<i class="fas fa-sync-alt"></i>
												</a>
											</div>
										</div>
										<div data-index="2" data-key="c"
										     class="random-item random-box d-flex align-items-center justify-content-between">
											<div class="random-position random-circle">
												C
											</div>
											<div class="random-list d-flex align-items-center">
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_c[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_c[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_c[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_c[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_c[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_c[]">
												</span>
											</div>
											<div class="random-action random-circle">
												<a href="javascript:void(0)" class="random-button random-event">
													<i class="fas fa-sync-alt"></i>
												</a>
											</div>
										</div>
										<div data-index="3" data-key="d"
										     class="random-item random-box d-flex align-items-center justify-content-between">
											<div class="random-position random-circle">
												D
											</div>
											<div class="random-list d-flex align-items-center">
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_d[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_d[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_d[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_d[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_d[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_d[]">
												</span>
											</div>
											<div class="random-action random-circle">
												<a href="javascript:void(0)" class="random-button random-event">
													<i class="fas fa-sync-alt"></i>
												</a>
											</div>
										</div>
										<div data-index="4" data-key="e"
										     class="random-item random-box d-flex align-items-center justify-content-between">
											<div class="random-position random-circle">
												E
											</div>
											<div class="random-list d-flex align-items-center">
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_e[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_e[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_e[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_e[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_e[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_e[]">
												</span>
											</div>
											<div class="random-action random-circle">
												<a href="javascript:void(0)" class="random-button random-event">
													<i class="fas fa-sync-alt"></i>
												</a>
											</div>
										</div>
										<div data-index="5" data-key="f"
										     class="random-item random-box d-flex align-items-center justify-content-between">
											<div class="random-position random-circle">
												F
											</div>
											<div class="random-list d-flex align-items-center">
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_f[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_f[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_f[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_f[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_f[]">
												</span>
												<span class="random-circle random-number">
													<span class="random-number_preview"></span>
													<input type="hidden" class="random-number_value" name="series_f[]">
												</span>
											</div>
											<div class="random-action random-circle">
												<a href="javascript:void(0)" class="random-button random-event">
													<i class="fas fa-sync-alt"></i>
												</a>
											</div>
										</div>
									</div>
									<div class="random-footer">
										<div class="random-total_sub">
											Tạm tính: <span class="unit-price">0 <span>vnđ</span></span>
											<input type="hidden" name="unit-price">
										</div>
										<div class="random-button">
											<button type="button"
											        class="btn btn-default font-weight-bolder btn-theme_primary w-100 random-event_quick">
												CHỌN NHANH
											</button>
										</div>
										<div class="random-button random-button_submit">
											<button type="submit"
											        class="btn btn-default font-weight-bolder btn-theme_ticket w-100">
												MUA NGAY
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-6">
					<div class="result-card result-6-55 card">
						<div class="card-header">
							Kết quả QSMT kỳ <b>#00799</b> ngày <b>08/11/2022</b>
						</div>
						<div class="card-body result-body">
							<div class="result-today">
								<div class="result-today_item">
									12
								</div>
								<div class="result-today_item">
									27
								</div>
								<div class="result-today_item">
									33
								</div>
								<div class="result-today_item">
									44
								</div>
								<div class="result-today_item">
									48
								</div>
								<div class="result-today_item">
									50
								</div>
								<div class="result-today_item result-today_last">
									18
								</div>
							</div>
							<div class="row row15 mb-4">
								<div class="col-lg-6 pb-0">
									<div class="result-text">
										<b>Jackpot 1 Power 6/55 ước tính</b>
									</div>
									<div class="result-price">
										67.427.850.900 <span>VNĐ</span>
									</div>
								</div>
								<div class="col-lg-6 pb-0">
									<div class="result-text">
										<b>Jackpot 2 Power 6/55 ước tính</b>
									</div>
									<div class="result-price">
										3.000.000.000 <span>VNĐ</span>
									</div>
								</div>
							</div>
							<div class="result-text">
								Các con số dự thưởng phải trùng với số kết quả nhưng không cần theo đúng thứ tự
							</div>
							<div class="result-text">
								<b>Truyền Hình Trực Tiếp Trên Kênh VTC3</b>
							</div>
							<div class="result-text">
								<b>Từ 18h00 – 18h30 Thứ 3 - Thứ 5 - Thứ 7</b>
							</div>
							<div class="result-text">
								Cách xác định giá trị Jackpot 1 và Jackpot 2 Chi tiết <a href="">xem tại đây</a>
							</div>
						</div>
						<div class="card-footer">
							<div class="card-footer_skip d-flex align-items-center justify-content-between">
								<div class="result-title">
									<b>Kỳ QSMT tiếp theo:</b>
								</div>
								<div class="event-countdown" data-date="2022/11/30 18:00:00">
									<div class="result-countdown">
										<div class="result-countdown_item">
											<div class="event-countdown_days countdown-item_value days">

											</div>
											<div class="countdown-item_text">
												Ngày
											</div>
										</div>
										<div class="result-countdown_item">
											<div class="event-countdown_hours countdown-item_value hours">

											</div>
											<div class="countdown-item_text">
												Giờ
											</div>
										</div>
										<div class="result-countdown_item">
											<div class="event-countdown_minutes countdown-item_value minutes">

											</div>
											<div class="countdown-item_text">
												Phút
											</div>
										</div>
										<div class="result-countdown_item">
											<div class="event-countdown_seconds countdown-item_value seconds">

											</div>
											<div class="countdown-item_text">
												Giây
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer id="footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 my-4">
				<div class="footer-item">
					<div class="font-weight-bold footer-item_name">
						CTY TNHH THANH TOÁN TRỰC TUYẾN GT1S
					</div>
					<div class="footer-item_text">
						Chuyên mua bán thẻ cào giá rẻ, thanh toán K+, tiền điện, nước Nạp Tuop Carot, nhận tăng sub,
						like facebook, GDTG, đổi tiền
					</div>
				</div>
			</div>
			<div class="col-md-3 col-6 my-4">
				<div class="footer-item">
					<div class="footer-item_title">
						Dịch vụ của CEO
					</div>
					<div class="footer-item_list">
						<ul class="list-unstyled mb-0">
							<li>
								<a href="">Web gạch card: Gachthe1s.com</a>
							</li>
							<li>
								<a href="https://admingt1s.vn/">Admingt1s.vn</a>
							</li>
							<li>
								<a href="https://subgt1s.com/">Web sub: Subgt1s.com</a>
							</li>
							<li>
								<a href="https://nickgt1s.com/">Web bán nick: Nickgt1s.com</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-6 my-4">
				<div class="footer-item">
					<div class="footer-item_title">
						Liên hệ
					</div>
					<div class="footer-item_list">
						<ul class="list-unstyled mb-0">
							<li>
								<a href="#">Thời gian làm việc: 08h-23h</a>
							</li>
							<li>
								<a href="https://www.facebook.com/vanluctrunggianuytin">Facebook chính: Nguyễn Văn
									Lực
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/vanluctrumgdtg/">Facebook phụ: Văn Lực</a>
							</li>
							<li>
								<a href="https://www.facebook.com/CSKHGachthe1s">Fanpage: Gachthe1s.com</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 my-4">
				<div class="footer-item">
					<div class="footer-item_title">
						Liên hệ
					</div>
					<div class="footer-item_info">
						<p>
							<i class="fas fa-phone-alt"></i>
							0842.271.271
						</p>
						<p>
							<i class="fas fa-envelope"></i>
							hotro.gachthe1s@gmail.com
						</p>
						<p class="mt-3 d-flex align-items-center justify-content-start footer-item_info__social">
							<a href="https://www.facebook.com/van.luc.52687506/" class="facebook">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="" class="google">
								<i class="fab fa-google-plus-g"></i>
							</a>
							<a href="" class="twitter">
								<i class="fab fa-twitter"></i>
							</a>
							<a href="" class="youtube">
								<i class="fab fa-youtube"></i>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-6 pt-1">
					<a href="#" class="footer-bottom_copyright">© Software by Văn Lực.,</a>
				</div>
				<div class="col-6">
					<div class="footer-dropdown d-flex align-items-center justify-content-end">
						<div class="dropdown dropdown-wrap ml-2">
							<button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownLanguage"
							        data-toggle="dropdown" aria-expanded="false">
								<i class="fas fa-globe"></i>
								<span>Tiếng Việt</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
								<a class="dropdown-item " href="">English</a>
								<a class="dropdown-item active " href="">Tiếng
									Việt
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script type=" text/javascript" src="../assets/plugins/jquery.min.js"></script>
<script type="text/javascript"
        src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"
        src="../assets/plugins/bootstrap-flatpickr/bootstrap-flatpickr.js"></script>
<script type="text/javascript"
        src="../assets/plugins/bootstrap-flatpickr/bootstrap-flatpickr-vn.js"></script>
<script type="text/javascript" src="../assets/plugins/select2/js/select2.min.js"></script>
<script type="text/javascript" src="../assets/plugins/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript" src="../assets/js/ticket.js"></script>
</body>
</html>