:root {
    --gray-900: #111111;
    --gray-800: #232323;
    --gray-700: #343434;
    --gray-600: #4b5563;
    --gray-500: #6b7280;
    --gray-400: #9ca3af;
    --gray-300: #d1d5db;
    --gray-200: #e5e7eb;
    --gray-100: #f3f4f6;

    --shadow-primary: 0 2px 8px 0 rgb(0 0 0 / 10%);
    --shadow-hover: 0 2px 8px 0 rgb(0 0 0 / 20%);

    --transition-default: .3s all ease-in-out;
    --font-theme: "Roboto", Arial, Helvetica, sans-serif;
}

html {
    font-size: 14px;
}

body {
    position: relative;
    width: 100%;
    color: var(--gray-800);
    font-family: var(--font-theme);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

a, a:hover, a:focus {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

button, button:hover, button:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
    cursor: pointer;
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

input,
select,
textarea {
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    outline: none !important;
    border-color: #66afe9 !important;
}

.transition-default {
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

p {
    margin-bottom: 10px;
}

.text-small {
    font-size: 11px;
}

.btn {
    white-space: nowrap;
    border-radius: 2px;
}

.btn.btn-small {
    height: 33px;
    line-height: 18px;
}

.section-gap {
    margin: 20px 0;
}

.title {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--gray-900);
}

.sub-title {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--gray-800);
}

.switch-module {
    padding-left: 3rem;
}

.switch-module .custom-control-input,
.switch-module .custom-control-label {
    cursor: pointer;
}

.switch-module .custom-control-input:disabled,
.switch-module .custom-control-input:disabled ~ .custom-control-label {
    cursor: not-allowed;
}

.switch-module .custom-control-input:focus {
    border-color: transparent !important;
}

.switch-module .custom-control-label::before {
    left: -3rem;
    width: 2.5rem;
    height: 1.25rem;
    border-radius: 20px;
    top: 2px;
}

.switch-module .custom-control-label::after {
    width: calc(1.25rem - 4px);
    height: calc(1.25rem - 4px);
    top: calc(0.25rem + .5px);
    left: calc(-3rem + 2px);
}

.switch-module .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none !important;
}

.switch-module .custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--success);
    border-color: var(--success);
}

.switch-module .custom-control-input:checked ~ .custom-control-label::after {
    -webkit-transform: translateX(calc(1.5rem - 2px));
    transform: translateX(calc(1.5rem - 2px));
}

.form-m1 .custom-row {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

.form-m1 .custom-row > [class*=col] {
    padding: 10px;
}

.form-m1 .input-group {
    margin-bottom: 0;
}

.form-m1 .form-control {
    border-radius: 2px;
}

.form-m1 .form-control:not(textarea) {
    height: 33px;
    padding-top: 0;
    padding-bottom: 0;
}

.form-m1 .input-group-text {
    height: 33px;
    padding-top: 0;
    padding-bottom: 0;
}

.form-m1 .form-control::placeholder {
    color: var(--gray-400);
}

@media screen and (max-width: 575px) {
    .form-m1 .custom-row {
        margin-top: 0;
        margin-left: -5px;
        margin-right: -5px;
    }

    .form-m1 .custom-row > [class*=col] {
        padding: 0 5px;
    }
}

.badge-module {
    padding: 0.45em 0.6em;
    border-radius: 2px;
    font-size: 11px;
}

.badge-circle {
    padding: 0.35em 0.85em;
    border-radius: 12px;
    font-size: 11px;
}

.badge-module > .badge,
.badge-circle > .badge {
    font-size: 80%;
    padding-top: 4px;
}

.table-module td, .table-module th {
    padding: .5rem;
}

.table-module tr:nth-child(even) {
    background-color: #fafafa;
}

.tabs-m1 {
    position: relative;
}

.tabs-m1 .nav-tabs {
    border-bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    position: relative;
    justify-content: center;
}

.tabs-m1 .nav-tabs .nav-item {
    position: relative;
    margin-left: 6px;
}

.tabs-m1 .nav-tabs .nav-item:first-child {
    margin-left: 0;
}

.tabs-m1 .nav-tabs .nav-item .nav-link {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
    font-size: 13px;
    color: var(--gray-800);
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    white-space: nowrap;
    border: 0;
    border-radius: 4px;
    padding: 5px 20px;
    background: #e7e6e6;
    display: block;
    overflow: hidden;
}

.tabs-m1 .nav-tabs .nav-item .nav-link.active {
    color: #fff;
    border-color: var(--primary-color);
    background: var(--primary-color);
}

@media screen and (max-width: 991px) {
    .tabs-m1 .nav-tabs {
        justify-content: flex-start;
    }

    .tabs-m1 .nav-tabs .nav-item .nav-link {
        display: inline-flex;
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .tabs-m1 .nav-tabs .nav-item {
        margin-right: 8px;
        margin-bottom: 6px;
        margin-left: 0 !important;
    }
}